.trnFormCalendar
  padding 0 $m8

.inlineCalendar
  padding 0 $m7
  padding-bottom $m7

  .vdp-datepicker__calendar
    width auto
    background none
    border 0

    header
      display flex
      justify-content space-between
      align-items center
      line-height 1
      padding-bottom $m7

      .prev
      .next
        margin 0
        padding $m6 $m9
        background none
        border 1px solid var(--c-bg-5)
        border-radius 3px
        anim()

        &.disabled
          opacity 0

        &:hover
          background none

      .prev:after
        border-right 10px solid var(--c-bg-9)

      .next:after
        border-left 10px solid var(--c-bg-9)

      .day__month_btn
      .month__year_btn.up
      span
        margin 0 $m7
        padding $m6 0
        font-header-1()
        border-radius $m3

        &:hover
          background none !important

          @media $media-laptop
            background var(--c-bg-6) !important

    .cell
      height 46px

    .cell.day-header
      height auto
      padding-bottom $m5
      color rgb(117, 117, 117)
      line-height 1

    .day
      cursor pointer
      position relative
      padding-top $m2
      text-align center
      border-radius $m5

    .today
      color var(--c-font-1)
      background var(--c-bg-5)

    .disabled
      color var(--c-font-4)

    .selected
      color var(--c-font-1)
      background var(--c-blue-1)
