$transition-time = 300ms
$transition-style = cubic-bezier(.17, .04, .03, 1)

anim()
  transition $transition-time $transition-style

anim-all($time = $transition-time)
  transition all $time $transition-style

anim-background($time = $transition-time)
  transition background $time $transition-style

anim-opacity($time = $transition-time)
  transition opacity $time $transition-style

anim-none()
  transition none
