html
  --c-incomes-opacity     rgba(44, 173, 34, .5)
  --c-expenses-opacity    rgba(249, 33, 52, .5)

  // colors
  // --------------------------------------------
  --c-red-1         rgba(184, 20, 20, 1)
  --c-red-2	        rgba(196, 75, 75, 1)
  --c-red-3         rgba(255, 200, 200, 1)
  --c-blue-1        #3a7dff
  --c-blue-2        rgba(40, 60, 120, .8)
  --c-blue-3        #2c74ff
  --c-blue-4        #2156bb
  --c-incomes-1     rgba(44, 173, 34, 1)
  --c-expenses-1    rgba(249, 33, 52, 1)

  // backgrounds
  // --------------------------------------------
  --c-bg-1 rgba(240, 240, 240, 1)
  --c-bg-2 rgba(235, 235, 235, 1)
  --c-bg-3 #f5f5f5
  --c-bg-4 #fafafa
  --c-bg-5 rgba(220, 220, 220, 1)
  // --c-bg-6 rgba(210, 210, 210, 1)
  --c-bg-6 rgba(235, 235, 235, 1)
  --c-bg-7 rgba(215, 215, 215, 1)
  --c-bg-14 rgba(250, 250, 250, 1)
  --c-bg-8 rgba(190, 190, 190, 1)
  --c-bg-9 rgba(190, 190, 190, 1)
  --c-bg-10 rgba(230, 230, 230, 1)
  --c-bg-11 rgba(0, 0, 0, .04)
  --c-bg-12 rgba(100, 100, 100, 1)
  --c-bg-13 rgba(120, 120, 120, 1)
  --c-bg-14 rgba(0, 0, 0, .6)

  // fonts
  // --------------------------------------------
  --c-font-1  rgba(250, 250, 250, 1)
  --c-font-2  rgba(80, 80, 80, 1)
  --c-font-3  rgba(50, 50, 50, 1)
  --c-font-4  rgba(110, 110, 110, 1)
  --c-font-5  rgba(150, 150, 150, 1)

  --c-font-base var(--c-font-2)


  --color-bg-canvas #fff
  --color-text-link #0366d6
  --color-link-bg #eaeaea
