html
  --c-bg-15 rgba(27, 27, 27, .9)

html.dark-mode
  // colors
  // --------------------------------------------
  --c-red-1         #b81414ff
  --c-red-2	        rgba(163, 41, 41, 1)
  --c-red-3         rgba(69, 23, 25, 1)
  --c-blue-1        #3a7dff
  --c-blue-2        rgba(40, 60, 120, .8)
  --c-blue-3        #2c74ff
  --c-blue-4        #2156bb
  --c-incomes-1     rgba(44, 173, 34, 1)
  --c-expenses-1    rgba(249, 33, 52, 1)
  // --c-expenses-1    rgb(244, 60, 117)

  // backgrounds
  // --------------------------------------------
  --c-bg-1  #0a0a0afc
  --c-bg-2  rgba(17, 17, 17, 1)
  --c-bg-3  rgba(23, 23, 23, 1)
  --c-bg-4  rgba(28, 28, 28, 1)
  --c-bg-44  rgba(25, 25, 25, 1)
  --c-bg-5  rgba(35, 35, 35, 1)
  --c-bg-6  rgba(39, 39, 39, 1)
  --c-bg-7  rgba(46, 46, 46, 1)
  --c-bg-8  rgba(63, 63, 63, 1)
  --c-bg-9  rgba(135, 135, 135, 1)
  --c-bg-10 rgba(220, 220, 220, 1)
  --c-bg-14 rgba(0, 0, 0, .8)

  // fonts
  // --------------------------------------------
  --c-font-1  rgba(250, 250, 250, 1)
  --c-font-2  rgba(220, 220, 220, 1)
  --c-font-3  rgba(190, 190, 190, 1)
  --c-font-4  rgba(150, 150, 150, 1)
  --c-font-5  rgba(100, 100, 100, 1)

  --c-font-base var(--c-font-1)

  --color-bg-canvas #171717
  --color-text-link #58a6ff
  --color-link-bg #1c1f24

  --color-item-bg #1e1e1e
  --color-item-in #1c1f24

// background #111111
// background #171717
// background #131313
// background #2C2C2C
// background #2A2A2A
