//- Variables
//-----------------------------------------------
- var pageTitle = "Finapp23"
- var themeColor = "#000"
- var fonts = "Istok+Web:700|Open+Sans:300,400|Russo+One"


//- Includes
//-----------------------------------------------
include head
include styles
include scripts


//- Layout
//-----------------------------------------------
doctype html
html
  head
    +head
    +styles

  body.body
    .app

  +scripts
