//- Variables
//-----------------------------------------------
- var pageTitle = "Finapp"
- var themeColor = "#000"


//- Includes
//-----------------------------------------------
include head
include styles
include scripts


//- Layout
//-----------------------------------------------
doctype html
html
  head
    +head
    +styles

  body.body
    .app

  +scripts
