- var fonts = "Istok+Web:700|Open+Sans:300,400,700|Russo+One|Material+Icons"

mixin link(href)
  link(href=href rel="stylesheet")

mixin styles
  +link("https://fonts.googleapis.com/css?family=" + fonts)
  +link("/css/semantic.min.css")
  +link("/css/styles.css")
