.body
  --main-background #111111
  --main-color #e3e3e3

  // Buttons
  --btn-red-background rgba(180, 50, 8, 1)
  --btn-red-color var(--main-color)

.body._light
  --main-background #ffffff
  --main-color rgba(0, 0, 0, .75)

  // Buttons
  --btn-red-background rgba(190, 50, 8, 1)
  --btn-red-color rgba(255, 255, 255, .9)
