.body.theme-dark
  // colors
  // --------------------------------------------
  --c-red-1         rgba(184, 20, 20, 1)
  --c-red-2	        rgba(163, 41, 41, 1)
  --c-red-3         rgba(69, 23, 25, 1)
  --c-blue-1        rgba(40, 60, 120, 1)
  --c-blue-2        rgba(40, 60, 120, .8)
  --c-incomes-1     rgba(44, 173, 34, 1)
  --c-expenses-1    rgba(249, 33, 52, 1)

  // backgrounds
  // --------------------------------------------
  --c-bg-1  rgba(10, 10, 10, 1)
  --c-bg-2  rgba(17, 17, 17, 1)
  --c-bg-3  rgba(23, 23, 23, 1)
  --c-bg-4  rgba(28, 28, 28, 1)
  --c-bg-5  rgba(35, 35, 35, 1)
  --c-bg-6  rgba(39, 39, 39, 1)
  --c-bg-7  rgba(46, 46, 46, 1)
  --c-bg-8  rgba(63, 63, 63, 1)
  --c-bg-9  rgba(135, 135, 135, 1)
  --c-bg-10 rgba(220, 220, 220, 1)
  --c-bg-overflow rgba(0, 0, 0, .8)

  // fonts
  // --------------------------------------------
  --c-font-1  rgba(250, 250, 250, 1)
  --c-font-2  rgba(220, 220, 220, 1)
  --c-font-3  rgba(190, 190, 190, 1)
  --c-font-4  rgba(150, 150, 150, 1)
  --c-font-5  rgba(100, 100, 100, 1)
