@import "media"

display-flex($flow = null, $grow = null)
  display flex

  if $flow == 'column'
    flex-flow column nowrap
  else
    flex-flow row nowrap

  if $grow == 'grow'
    flex-grow 1

.flex
  display flex

  &._grow
    flex-grow 1

.ml-auto
  margin-left auto

.col
  margin-right 20px

  +media-laptop()
    margin-right 40px

  &:first-child
    margin-left 0

  &:last-child
    margin-right 0

.flex._grow .col
  flex-grow 1
