display-flex($align = flex-start, $justify = flex-start)
  display flex
  align-items $align
  justify-content $justify

display-flex-center($align = center, $justify = center)
  display flex
  align-items $align
  justify-content $justify
