$msss = 3px
$mss = 5px
$ms = 10px
$mm = 15px
$m = 20px
$mb = 30px
$msb = 40px
$mxl = 50px
$m2xl = 60px


.ml-m
  margin-left $m

.ml-mm
  margin-left $mm

.ml-a
  margin-left auto

.mb-sb
  margin-bottom $msb
