$mb = 32px

// small
$m1 = 1px
$m2 = 2px
$m3 = 3px

// medium
$m4 = 4px
$m5 = 6px
$m6 = 10px

// normal
$m7 = 16px
$m8 = 20px
$m9 = 26px
$m10 = 40px
$mn = 26px

// big
$mn1 = 30px
$mn2 = 36px

// extra big
$mb1 = 50px
$mb2 = 64px
