$media-phone = "(max-width: 767px)"
$media-phone-sm = "(max-width: 360px)"
$media-phone-normal = "(min-width: 360px)"
$media-laptop = "(min-width: 768px)"
$media-pc = "(min-width: 1024px)"
$media-xl = "(min-width: 1500px)"
$media-xl = "(min-width: 1500px)"
