scrollbar()
  &::-webkit-scrollbar
    width 0px
    height 0px

    @media (min-width: 768px)
      width 6px
      height 6px

  &::-webkit-scrollbar-track
    border-radius 10px
    background transparent

  &::-webkit-scrollbar-thumb
    border-radius 10px
    background grey

    &:hover
      background darkgrey
