.filter
  position relative
  justify-content space-between
  align-items center
  margin-right 30px

  @media $laptop
    display flex

.filterItem
  padding-left 15px
  text-align center

  &._date
    min-width 90px
    text-transform uppercase
    font-size 14px
    font-weight bold
    $font-numbers()

  .fa
    cursor pointer

.filterItemDate
  display inline-flex
  padding-left 5px


.filter
  .prev
    opacity .02
