.filter
  display none
  justify-content space-between
  align-items center
  color white

  @media $laptop
    // display flex

.filterItem
  padding-left 15px
  text-align center

  &._date
    min-width 90px

  .fa
    cursor pointer

.filterItemDate
  display inline-flex
  padding-left 5px
