.headerPeriods
  display flex

  &__item
    display flex
    padding 0 $m7
    font-header-1()
    font-size 20px
    color var(--c-font-4)
    anim()

    &__in
      align-self center

    &:active
    &:hover
      @media $media-laptop
        color var(--c-font-2)
        background var(--c-bg-4)

    &._active
      color var(--c-font-2)

    &._disabled
      cursor default
      opacity .1

    &._disabled:hover
      background none
