scrollbar()
  &::-webkit-scrollbar
    width 6px
    height 16px

  &::-webkit-scrollbar-track
    border-radius 10px
    background transparent
    opacity .5

    &:hover
      background $color-body

  &::-webkit-scrollbar-thumb
    border-radius 10px
    background alpha($color-main, .3)

    &:hover
      background $color-main
