scrollbar()
  &::-webkit-scrollbar
    width 2px
    height 2px

    @media (min-width: 768px)
      width 6px
      height 6px

  &::-webkit-scrollbar-track
    border-radius 10px
    background transparent
    opacity .5

  &::-webkit-scrollbar-thumb
    border-radius 10px
    background alpha($color-main, .3)

    &:hover
      background $color-main
