.logo
  padding-left 40px
  margin-bottom 20px
  color $color-orange
  font-size 24px
  line-height normal
  letter-spacing 3px
  $font-secondary-mixin()
  text-transform uppercase
  background url(../img/logo.png) 0 center no-repeat
  background-size 30px
  border-bottom none

  @media $laptop
    margin-bottom 60px
