// Frontend template
// Ilya Komichev
// github.com/ilkome/frontend

$fa-font-path = "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "font-awesome-stylus/stylus/"

@import "helpers/*"
@import "variables"
@import "layout"
@import "base/*"
@import "atoms/*"
// @import "../components/*"

.logo
  background url(../img/logo.png) 0 center no-repeat
