$theme = "black"
$theme = "blue"


// Black Theme
// ==============================================
if $theme == "black"
  $color-main = #ababab
  $color-second = #5f5f5f
  $color-link = #bb5c2c

  $color-rub = #2E86C1
  $color-tinkoff = #ab68da
  $color-sum = #7d7d7d
  $color-income = #1e7a45
  $color-expense = #a73b2f

  $color-body = #1A1A1A
  $color-layout = #161616
  $color-panel = #161616
  $color-trn = #161616
  $color-trn-hover = #111111
  $color-line = #242424
  $color-line-layout = #2C2C2C
  $color-line-account = #272727

  $color-header = $color-main


// Blue Theme
// ==============================================
if $theme == "blue"
  $color-main = #666666
  $color-second = #6c839e
  $color-link = #bb5c2c

  $color-rub = #2E86C1
  $color-tinkoff = #ab68da
  $color-sum = #7d7d7d
  $color-income = #1e7a45
  $color-expense = #a73b2f

  $color-body = #edeef0
  $color-layout = #e2e6ea
  $color-panel = #e2e6ea
  $color-trn = #e2e6ea
  $color-trn-hover = #edf0f5
  $color-line = #dfe2e8
  $color-line-layout = #e3e4e8
  $color-line-account = #dfe2e8

  $color-header = $color-main


// Fonts
// ==============================================
$font-primary = 'Robotto', sans-serif
$font-secondary = 'Robotto', sans-serif

$font-primary-mixin()
  font-family $font-primary
  font-weight 400
$font-secondary-mixin()
  font-family $font-secondary

$font-secondary()
  font-family $font-secondary

$font-numbers()
  font-family 'Unica One', 'Roboto', sans-serif


// Media
// ==============================================
$tablet = "(min-width: 768px)"
$laptop = "(min-width: 760px)"


// Animation
// ==============================================
$transition-time = 0.3s
$transition-style = ease-out
