// Colors
// ==============================================
$color-main = #485663
$color-orange = #ec6f2f

$color-link = $color-orange


// Fonts
// ==============================================
$font-primary = 'Open Sans', sans-serif
$font-secondary = 'Russo One', sans-serif

$font-primary-mixin()
  font-family $font-primary
  font-weight 400
$font-secondary-mixin()
  font-family $font-secondary

// Media
// ==============================================
$tablet = "(min-width: 768px)"
$laptop = "(min-width: 760px)"


// Animation
// ==============================================
$transition-time = 0.3s
$transition-style = ease-out
