html.dark
  // Alert
  //-----------------------------------
  --color-alert-base #b81414

  // Icon
  //-----------------------------------
  --color-icon-base theme('colors.neutral.50')

  // Item
  //-----------------------------------
  --color-item-base-up theme('colors.neutral.100')
  --color-item-base theme('colors.neutral.200')
  --color-item-base-down theme('colors.neutral.400')

  --color-item-main-bg #1c1c1c
  --color-item-main-hover theme('colors.neutral.800')
  --color-item-main-active #232323

  // Layout
  //-----------------------------------
  --color-layout-main-up #1b1b1c
  --color-layout-main theme('colors.dark3')

  // Colors
  //-----------------------------------
  --c-red-1         #b81414
  --c-blue-1        #3a7dff
  --c-blue-3        #2c74ff
  --c-income-1     #2cad22
  --c-expense-1    #f92134

  --c-bg-1  #0a0a0afc
  --c-bg-2  #111111
  --c-bg-3  #171717
  --c-bg-4  #1c1c1c
  --c-bg-5  #232323
  --c-bg-6  #272727
  --c-bg-7  #2e2e2e
  --c-bg-8  #3f3f3f
  --c-bg-9  #878787
  --c-bg-10 #dcdcdc
  --c-bg-14 #000000cc

  --c-font-1  #fafafa
  --c-font-2  #dcdcdc
  --c-font-3  #bebebe
  --c-font-4  #969696
  --c-font-5  #646464

  --color-text-link #58a6ff
  --color-link-bg #1c1f24

  --c-item-bg-main #1e1e1e
  --c-item-bd-main rgba(44,44,44,1)
  --c-item-bg-hover #232323
  --c-item-bd-hover rgba(35,35,35,1)
  --c-item-bg-active rgba(35,35,35,1)

  --c-item2-bg-hover rgba(28,28,28,1)
  --c-item2-bd-hover rgba(63,63,63,1)

  --c-item3-bg-hover rgba(39,39,39,1)

  --c-item-stat-bg rgba(35,35,35,1)
  --c-item-stat-icon rgba(250,250,250,1)

  --c-chart-lables-text-color rgba(190,190,190,1)
  --c-chart-lables-text-shaddow rgba(23,23,23,1)
