html
  // Item
  //-----------------------------------
  --c-item-1 theme('colors.neutral.700')
  --c-item-base theme('colors.neutral.600')
  --c-item-2 theme('colors.neutral.500')

  --c-item-3 #edeef0
  --c-item-5 theme('colors.gray.200')
  // --c-item-5 theme('colors.gray.200')
  --c-item-4 theme('colors.neutral.100')
  // --c-item-4 theme('colors.neutral.100')

  // colors
  //-----------------------------------
  --c-red-1         #b81414
  --c-blue-3        #2c74ff
  --c-income-1     rgba(44, 173, 34, 1)
  --c-expense-1    rgba(249, 33, 52, 1)

  // backgrounds
  // --------------------------------------------
  --c-bg-9 rgba(190, 190, 190, 1)
  --c-bg-10 rgba(230, 230, 230, 1)
  --c-bg-11 rgba(0, 0, 0, .04)
  --c-bg-12 rgba(100, 100, 100, 1)
  --c-bg-13 rgba(120, 120, 120, 1)
  --c-bg-14 rgba(0, 0, 0, .6)

  --c-font-1  #fafafa
  --c-font-2  #505050
  --c-font-3  #323232
  --c-font-4  #6e6e6e
  --c-font-5  #969696

  --c-item-bg-hover #ebebeb

    // Chart
  --chart-bg var(--c-item-4)
  --chart-label var(--c-font-5)
  --chart-line var(--c-item-5)
  --chart-selected var(--c-item-3)
  --chart-splitLine var(--foreground-3)
