html
  // Base
  //-----------------------------------
  --color-alert-base #b81414

  // Icon
  //-----------------------------------
  --color-icon-base theme('colors.neutral.50')

  // Item
  //-----------------------------------
  --color-item-base-up theme('colors.neutral.700')
  --color-item-base theme('colors.neutral.600')
  --color-item-base-down theme('colors.neutral.500')

  --color-item-main-bg #f9fafb
  --color-item-main-hover theme('colors.gray.200')
  --color-item-main-active #edeef0

  // Layout
  //-----------------------------------
  --color-layout-main-up theme('colors.neutral.50')
  --color-layout-main theme('colors.white')

  // colors
  //-----------------------------------
  --c-red-1         #b81414
  --c-blue-1        #3a7dff
  --c-blue-3        #2c74ff
  --c-income-1     rgba(44, 173, 34, 1)
  --c-expense-1    rgba(249, 33, 52, 1)

  // backgrounds
  // --------------------------------------------
  --c-bg-1 #f0f0f0
  --c-bg-2 #ebebeb
  --c-bg-3 #fff
  --c-bg-4 #fafafa
  --c-bg-5 #dcdcdc
  --c-bg-6 rgba(235, 235, 235, 1)
  --c-bg-7 rgba(215, 215, 215, 1)
  --c-bg-8 rgba(190, 190, 190, 1)
  --c-bg-9 rgba(190, 190, 190, 1)
  --c-bg-10 rgba(230, 230, 230, 1)
  --c-bg-11 rgba(0, 0, 0, .04)
  --c-bg-12 rgba(100, 100, 100, 1)
  --c-bg-13 rgba(120, 120, 120, 1)
  --c-bg-14 rgba(0, 0, 0, .6)

  --c-font-1  #fafafa
  --c-font-2  #505050
  --c-font-3  #323232
  --c-font-4  #6e6e6e
  --c-font-5  #969696

  --color-link-bg #eaeaea

  --c-item-bg-main #f5f6f8
  --c-item-bg-hover #ebebeb
  --c-item-bd-hover #3a7dff82
  --c-item-bg-active #edeef0

  --c-item2-bg-hover #f5f6f8
  --c-item2-bd-hover #bebebe

  --c-item3-bg-hover rgba(235, 235, 235, 1)

  --c-item-stat-bg #ebebeb
  --c-item-stat-icon rgba(250, 250, 250, 1)

  --c-chart-lables-text-color rgba(50, 50, 50, 1)
  --c-chart-lables-text-shaddow #6e6e6e7a
