html.dark
  // Item
  //-----------------------------------
  --c-item-1 theme('colors.neutral.100')
  --c-item-base theme('colors.neutral.200')
  --c-item-2 theme('colors.neutral.400')

  --c-item-4 #1c1c1ca3
  --c-item-5 theme('colors.neutral.800')
  --c-item-3 #232323

  // Colors
  //-----------------------------------
  --c-red-1         #b81414
  --c-blue-3        #2c74ff
  --c-income-1     #2cad22
  --c-expense-1    #f92134

  // backgrounds
  // --------------------------------------------
  --c-bg-9  #878787
  --c-bg-10 #dcdcdc
  --c-bg-14 #000000cc

  --c-font-1  #fafafa
  --c-font-2  #dcdcdc
  --c-font-3  #bebebe
  --c-font-4  #969696
  --c-font-5  #646464

  --c-item-bg-hover #232323

  // Chart
  --chart-bg var(--c-item-5)
  --chart-label var(--c-font-5)
  --chart-line var(--c-item-5)
  // --chart-selected theme('colors.neutral.800')
  --chart-selected var(--c-item-5)
  --chart-splitLine theme('colors.neutral.700')
  --chart-tooltip theme('colors.neutral.400')
