@import './colors-dark'
@import './colors-light'

@import 'base/*'

.v-popper--theme-dropdown
  .v-popper__inner
    @apply bg-foreground-3 border border-item-6 rounded-xl shadow-2xl

  .v-popper__arrow-outer
    display none
    // @apply border-item-4

  .v-popper__arrow-inner
    display none
