@import './colors-dark'
@import './colors-light'

@import 'base/*'
@import 'shame'
@import '../../components/**/*'

html
  --c-incomes-opacity     rgba(44, 173, 34, .5)
  --c-expenses-opacity    rgba(249, 33, 52, .5)
