@import './colors-dark'
@import './colors-light'

@import 'shame'
@import 'base/*'
@import '../../components/**/*'


.v-popper--theme-dropdown
  .v-popper__inner
    @apply bg-item-5 border-none rounded-xl

  .v-popper__arrow-outer
    @apply border-item-4

  .v-popper__arrow-inner
    display none
