.form-line
  margin-bottom $m9
  padding $m7 $m6
  text-align left
  border 1px solid var(--c-bg-6)
  border-radius $m3

  +media-laptop()
    height auto
    padding 12px 16px

  &._text
    margin-bottom $m9
    padding 0
    border 0

    +media-laptop()
      margin-bottom 24px

  &._p0
    margin 0
    margin-bottom $m10
    padding 0

    +media-laptop()
      margin-bottom 24px

    .v-input
    .v-input__slot
    .v-messages
      min-height 0
      margin 0
      padding 0

  &._clean
    border 0

.inputModal
  display flex
  align-items center
  justify-content space-between

  &._block
    display block
    text-align center

  &__content
    display flex
    align-items center

  &__value
    flex-grow 1

  &__icon
  &__label
    padding-top 3px
    color var(--c-font-4)
    font-weight 500;
    line-height 18px

  &__icon
    display flex
    align-items center
    justify-content center
    height 32px
    font-size 32px

  &__label
    opacity .6
    margin-left auto
    font-size 10px
    text-transform uppercase

  &__name
    padding-left $m6

  &__color
    width 32px
    height 32px

    +media-laptop()
      width 22px
      height 22px
