.barItem
  +media-hover()
    &:not(._active)
      cursor pointer
      color var(--c-font-3)
      background var(--c-item2-bg-hover)

  &._active
    color var(--c-blue-1)
    background var(--c-item-bg-hover)
