input
textarea
  font-primary()
  font-size 16px

.inputText
  margin-bottom $m9

  &:last-child
    margin-bottom 0

  &__value
    width 100% !important
    padding $m7 $m7
    color var(--c-font-1)
    font-size 14px
    background transparent
    border 1px solid var(--c-item-bd-main)
    border-radius $m5
    anim()
    /.light-mode &
      color var(--c-font-2)

    &._color
      width 100px
      min-height 60px

  &__label
    opacity .6
    padding-bottom $m5
    color var(--c-font-3)
    font-size 11px
    font-weight 400
    text-align left

.colors
  display grid
  grid-template-columns repeat(10, 1fr)

.colorItem
  height 45px
  border 2px solid transparent

  &._active
    border 3px solid var(--c-bg-1)
