.vue-notification-group
  text-align center

  .notifications
    position relative
    display flex
    align-items center
    justify-content center
    min-height 52px
    min-width 120px
    margin-top 16px
    padding 8px 16px
    color white
    font-size 14px
    line-height 18px
    text-align center
    background #0094ff
    border-radius 8px
    flex-flow column

    +media-tablet()
      margin-top 16px
      margin-left 16px
      padding 16px

    &:after
      opacity .8
      position absolute
      top 8px
      right 8px
      font-size 32px
      transform rotate(45deg)
      content '+'

    &.success
      color var(--c-font-2)
      background var(--c-incomes-1)

    &.error
      color var(--c-font-2)
      background var(--c-expenses-1)

    .notification-title
      display block
      padding-bottom 8px;
      font-size 42px
      line-height 1
