.trn-item
  display flex
  justify-content space-between
  align-items center
  padding 15px
  border 1px solid transparent
  border-bottom-color rgba(0, 0, 0, .05)
  anim()

  &:first-child
    border-top-color transparent

  &:last-child
    border-bottom-color transparent

  &:hover
    background rgba(42, 63, 84, .04)
    border-color rgba(0, 0, 0, .05)
    border-top-color transparent

  .incomes
    color green
    font-weight bold

  .expenses
    color red
    font-weight bold

  &__col
    flex 1 1 20%
