$max-width()
  max-width 960px

// $color-graph = #585858
$color-graph = #2e2e2e

// icons
$color-icon-bg = #242424
$color-icon-bg-active = #dadada
$color-icon-text = alpha(white, .7)
$color-icon-text-active = #080808

// layout
$color-body = #1A1A1A
$color-layout = #161616
$color-sidebar = #080808
$color-header-bg = #0e0e0e
$color-side-toogle = alpha(white, .05)

// items
$color-itemStat = alpha(black, .2)
$color-itemStat-name = $color-sidebar-white-light
$color-itemStat-active = #161616
$color-itemStat-border = alpha(black, .3)

$color-trn = #161616
$color-trn-hover-line = #333333
$color-line = #242424
$color-line-layout = #2C2C2C
$color-line-account = #272727
$color-line-summary = #232323

// layout
$color-body = #111111
$color-layout = $color-body
$color-line = #888888
// 202020

// text
$color-main = #e3e3e3
$color-main-dim = alpha(#e3e3e3, .8)
$color-white = $color-main
$color-second = #e4e4e4
$color-grey = #777777

// money
$color-sum = $color-main
$color-income = #2cad22
$color-incomes = #2cad22
$color-expense = #f92134
$color-expenses = #f92134

// sidebar
$color-sidebar = #1c1c1c
$color-sidebar-line = #2e2e2e
$color-sidebar-white-light = alpha($color-white, .9)
$color-sidebar-white-lighter = alpha($color-white, .7)
$color-sidebar-grey-alpha = alpha($color-grey, .8)
$color-sidebar-bg-hover = #3f3f3f
$color-sidebar-bg-active = $color-body

// Module
$color-module-bg-alt = #171717
$color-module-bg-history = #1a1a1a
$color-module-border = #0b0b0b

// filter
$color-filter-bg = #161616

// header
$color-header-line = black
$color-header-bg = #232323

// itemList
$color-itemList-bg = $color-sidebar
$color-itemList-border = $color-sidebar-line
$color-itemList-hover = $color-sidebar-bg-hover
$color-sidebar-bg-edit = #474747

// trnForm
$color-amount-input-bg = $color-body

// btn
$color-btn-bg = $color-sidebar-bg-hover
$color-btn-bg-hover = $color-sidebar-bg-active
$color-btn-border = $color-sidebar-line

// itemStat
$color-trn-hover = $color-sidebar
$color-trn-border = $color-sidebar-line

// trn
$color-trnItem-border = $color-sidebar-line
$color-trnItem-hover = $color-sidebar-bg-active

// trnsList
$color-trnList-border = $color-sidebar-bg-hover

// trnForm
$color-trnForm-subTitle-bg = #232323


// Fonts
// ==============================================
$font-primary()
  font-family 'Roboto', sans-serif
$font-secondary()
  font-family 'Roboto', sans-serif
$font-numbers()
  font-family 'Unica One', 'Roboto', sans-serif
  text-transform uppercase

$typo-title()
  color $color-grey
  font-size 16px
  font-weight bold
  letter-spacing 1px
  line-height 1rem
  text-transform uppercase
  $font-numbers()

$typo-money()
  font-size 15px
  font-weight bold
  white-space nowrap
  $font-numbers()

// Item
$typo-item-name()
  color $color-sidebar-white-lighter
  line-height 13px
  font-size 13px

// Media
// ==============================================
$tablet = "(min-width: 768px)"
$laptop = "(min-width: 760px)"
$pc = "(min-width: 1200px)"

$laptopNew = "(min-width: 1200px)"
$pcNew = "(min-width: 1900px)"


$before768 = "(max-width: 768px)"
$after768 = "(min-width: 768px)"

// Animation
// ==============================================
$transition-time = .3s
$transition-style = cubic-bezier(0.17, 0.04, 0.03, 1)
