@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }

  .size-full {
    @apply w-full h-full;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* overflowScrollY() */
  .overflow-scroll-y {
    @apply overflow-hidden overflow-y-auto;
    -webkit-overflow-scrolling: touch;
  }
}

html,
body {
  overscroll-behavior-y: none
}

body {
  background: #171717;
  user-select: none;
}

@media (prefers-color-scheme: light) {
  body {
    background: #fafafa;
  }
}
.light body {
  background: #fafafa;
}
