html {
  /* HSL Syntax */
  /* https://tailwindcss.com/docs/customizing-colors */

  --hue: 220deg;

  --c-expense-opacity: rgba(249, 33, 52, .5);
  --c-blue-1: hsl(220, 100%, 61%);
  --c-income-opacity: rgba(44, 173, 34, .5);

  --text-alert-primary: #b81414;

  --text-expense-1: #f92134;
  --text-income-1: #2cad22;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Unica One', 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}

html.dark {
  /* Text */
  --text-primary: 220 220 220;
  --text-secondary: 160 160 160;
  --text-secondary2: 160 160 160;
  --text-icon-primary: theme('colors.neutral.50');
  --text-icon-primary2: theme('colors.neutral.50') / 50;

  --foreground-1: 0 0 0;
  --foreground-2: 23 23 23;
  --foreground-3: 23, 23, 23;
  --foreground-4: 23, 23, 23, 0.7;
  --foreground-5: 27 27 28;


  --accent-1: 56 148 2451;
  --accent-2: 58 125 255;
  --accent-3: 255 255 255;
  --accent-4: var(--hue) 100% 61%;

  --item-main: 30 30 30;
  --item-6: 44 44 44;
  --item-7: 46, 46, 46;
  --item-7-active: 63, 63, 63
}

html.light {
  --text-primary: 64 64 64;
  --text-secondary: 0 0 0;
  --text-secondary2: 0 0 0;
  --text-icon-primary: theme('colors.neutral.50');

  --foreground-1: 235 235 240;
  --foreground-2: 245 245 245;
  --foreground-3: theme('colors.white');
  --foreground-4: theme('colors.white')/70;


  --accent-1: 0 122 255;
  --accent-2: 58 125 255;
  --accent-3: 255 255 255;
  --accent-4: var(--hue) 100% 61%;

  --item-main: 235 235 240;
  --item-7: 188 188 192;
  --item-active: 216 216 220;
}
