.scrollToTop
  cursor pointer
  display flex
  justify-content flex-start
  align-items flex-start
  position fixed
  right 0px
  bottom 0px
  width 150px
  height 150px
  opacity .3
  anim()
  transform translate(100px, 100px)

  &:hover
    align-items center
    justify-content center
    opacity 1
    background $color-link
    transform translate(0, 0)

// #fct
// ===============================================
.fastCreatTrn
  &__content
    padding-bottom 30px

  &__day
    margin-bottom 80px
    padding-bottom 0px
    border-bottom 1px solid $color-line
    &:last-child
      margin-bottom 0

  &__addDay
    display inline-flex
    padding 15px 30px
    text-transform uppercase
    letter-spacing 1px
    font-weight bold
    background $color-line
    border 1px solid $color-line
    border-radius 3px
    anim()

    &:hover
      border-color $color-link

  &__trn
    display flex
    align-items center

    &__item
      flex 1 1
      padding 0 20px

      &:first-child
        padding-left 0

      &:last-child
        padding-right 0


.mb
  margin-bottom 60px

.sl
  max-width 460px
  margin -10px

.dark
  background $color-layout


.page-blur
  z-index 5
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background alpha($color-layout, .8)



.bg-1
.bg-1.icon
  background $color-rub

.bg-2
.bg-2.icon
  background $color-tinkoff


// Right menu with create trn
.toogleTrnCreateBtn
  cursor pointer
  display flex
  align-items center
  justify-content center
  position absolute
  right 0px
  padding 0 40px
  color $color-second

  &:hover
    color $color-link

  &__icon
    display flex
    align-items center
    justify-content center
    width 30px
    height 30px
    color $color-main
    font-size 2.5rem
    $font-numbers()
    border 2px solid transparent
    border-radius 50%
    anim()

    ^[0]:hover &
      color $color-link

    ^[0]._active &
      margin-right 20px
      color $color-link
      font-size 3.5rem
      transform rotate(45deg)
      border-color $color-link


.ml
  margin-left 10px
