.account-1
.account1
  color $color-rub
.account-2
.account2
  color $color-tinkoff

.accountPage
  padding-bottom 0px

.accountTitle
  display flex
  align-items center
  justify-content center
  padding 15px 0 0 0
  font-size 14px
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

  @media $laptop
    padding 25px 0

.accountContent
  display flex
  flex-flow column wrap
  justify-content space-between
  flex-space(2)

  @media $laptop
    flex-flow row wrap

.accountContentItem
.accountItem
  position relative
  display flex
  flex 1 1 45%
  height 45px
  padding 0 35px
  justify-content space-between
  align-items center
  color $color-second
  border-bottom 1px solid $color-line-account
  anim-all()

  @media $laptop
    flex-basis 100%
    max-width 100%
    height 60px
    margin 0 30px
    padding 0 10px

  a&:hover
    color $color-main

  &:last-child
    margin-bottom 0
    border none

  sup
    display none

  .small
    margin-top 5px
    font-size 1rem
    font-weight normal

  &.account1
    &:before
      content " "
      position absolute
      left 0
      top 50%
      width 5px
      height 15px
      margin-top -7.5px
      border-radius 0
      background #2E86C1
      anim()
      @media $laptop
        width 1px
    &:hover:before
      width 5px

  &.account2
    &:before
      content " "
      position absolute
      left 0
      top 50%
      width 1px
      height 15px
      margin-top -7.5px
      border-radius 0
      background #ab68da
      anim()
    &:hover:before
      width 5px

  &.account1.active
    color #2E86C1

  &.account2.active
    color #ab68da


.accountContentItemTotal
.accountItem__total
  $font-numbers()
  letter-spacing 1px
  color $color-sum
  font-weight bold
  text-align right

  @media $laptop
    flex-flow row wrap

.accountContentItemTotalIn
  flex 0 1 100%
  text-align right
  white-space nowrap

.accountTrns
  h3 + .item
    border-top 1px solid $color-line-layout

.accountDetails
  overflow hidden

  .accountItem
    margin 0


.accountPage
  .summaryShort
    max-width 550px
