.accountSidebar__showAll
  display block
  cursor pointer
  position relative
  padding 10px 10px
  font-size .8rem
  color alpha($color-second, .5)
  anim-all()

  &:hover
    color $color-link



.account-1
.account1
  color $color-rub
.account-2
.account2
  color $color-tinkoff

.accountPage
  padding-bottom 0px

.accountTitle
  display flex
  align-items center
  justify-content center
  padding 15px 0 0 0
  font-size 14px
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

  @media $laptop
    padding 25px 0

  @media $pc
    padding-top 35px

.accountContent
  display flex
  flex-flow column wrap
  justify-content space-between
  flex-space(2)

  @media $laptop
    flex-flow row wrap

.accountContentItem
.accountItem
  position relative
  display flex
  flex 1 1 45%
  height 45px
  padding 0 35px
  justify-content space-between
  align-items center
  color $color-second
  border-bottom 1px solid alpha($color-line-account, .5)
  anim-all()

  &._circle
    margin-left 10px
    margin-right 10px
    padding-left 30px

    &:hover:before
      opacity 1

    &:before
      content " "
      position absolute
      left 0
      top 50%
      width 8px
      height 8px
      margin-top -6px
      border-radius 50%
      background $color-line-account
      opacity .6
      anim()

  @media $laptop
    flex-basis 100%
    max-width 100%
    height 60px
    margin 0 30px
    padding 0 10px

  a&:hover
    color $color-main

  &:last-child
    margin-bottom 0
    border none

  sup
    display none

  .small
    margin-top 5px
    font-size 1rem
    font-weight normal

  &.account1
    &:before
      background #2E86C1

  &.account2
    &:before
      background #ab68da

  &.account1.active
    color #2E86C1

  &.account2.active
    color #ab68da


.accountContentItemTotal
.accountItem__total
  $font-numbers()
  letter-spacing 1px
  color $color-sum
  font-weight bold
  text-align right

  @media $laptop
    flex-flow row wrap

.accountContentItemTotalIn
  flex 0 1 100%
  text-align right
  white-space nowrap

.accountTrns
  h3 + .item
    border-top 1px solid $color-line-layout

.accountDetails
  overflow hidden

  .accountItem
    margin 0
