// animations
.fade-enter-active, .fade-leave-active
  opacity 1
  anim-all()

.fade-enter, .fade-leave-to
  opacity 0

// animations
.slide-enter-active, .slide-leave-active
  transform translateY(0)
  opacity 1
  anim-all()

.slide-enter, .slide-leave-to
  opacity 0
  transform translateY(50px)
