.categoriesIcons
  display flex
  flex-flow row wrap
  margin -5px

  &__el
    margin 4px

    @media $laptop
      margin 5px

.categoryStat
  display flex

  &__trns
    margin-left -10px
    flex-grow 1
    max-width 360px
    max-height 700px
    min-width 300px
    overflow-y auto

    &._long
      max-width 520px

  &__summary
    width 360px
    margin-top -15px
    margin-left 160px


.categories
  //
