.categoriesIcons
  display flex
  flex-flow row wrap
  margin -5px

  &__el
    margin 4px

    @media $laptop
      margin 5px

.categoryStat
  display flex

  &__trns
    margin-left -10px
    flex-grow 1
    max-width 360px
    max-height 700px
    min-width 300px
    overflow-y auto

    &._long
      max-width 520px

  &__summary
    width 360px
    margin-top -15px
    margin-left 160px

// #c
.categories
  margin-left -10px

// ci
.categoryItem
  display block
  min-width 300px
  padding 10px
  color $color-second
  border-radius 3px
  anim()

  &:hover
    color $color-main
    background $color-trn-hover

  &__icon
    padding-right 15px

  &__content
    display flex
    flex-flow row nowrap
    flex-grow 1
    align-items center

  &__name
    flex-grow 1
    text-transform capitalize
    font-size 1.1rem

  &__text
    display flex
    padding-bottom 10px
