.chart
  &__pie
    width 200px
    height 200px

  &__column
    height 200px
    width auto

    @media $laptop
      height 300px

.highcharts-plot-lines-0
  stroke white

.highcharts-plot-line-label
  fill $color-main
  font-size 14px

.highcharts-data-label
  font-size 30px

// .highcharts-data-label-box
// .highcharts-data-label
//   color red
//   fill red
//   font-size 30px
