.table2
  display flex
  justify-content space-between

.table__cell
  width (calc(50% - 15px))

.items
  display flex
  align-items center
  margin-bottom 15px
  // padding-left 15px
  padding-right 15px
  padding-bottom 15px
  border-bottom none
  color $color-main
  border-bottom 1px solid alpha(white, .1)

  &:last-child
    margin-bottom 0
    padding-bottom 0
    border-bottom none

  > .item
    flex 0 1 120px
    white-space nowrap
    padding-left 30px

    &:first-child
      flex-basis auto
      padding-left 0

    &:last-child
      padding-right 0

.link
  display block
  margin-right 10px
  border-bottom none

  &.active
    font-weight bold

.income
  font-size 20px
  font-weight bold
  color #1E8449
  font-family 'Unica One'

.expense
  font-size 20px
  font-weight bold
  color #CB4335
  font-family 'Unica One'

.sum
  font-size 20px
  font-weight bold
  color $color-sum
  font-family 'Unica One'

.loading
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  text-align center
  background grey
