.dropdown
  display flex
  position relative

  &__name
    cursor pointer
    padding-bottom 3px
    margin-bottom -3px
    anim()

  &:hover
    .dropdown__content
      opacity 1

  &__content
    opacity 0
    z-index 2
    position absolute
    left 0px
    top 30px
    padding-bottom 20px
    white-space nowrap
    anim()

  &__link
    opacity .8
    cursor pointer
    font-size 1.2rem
    margin-right 10px
    letter-spacing 1px
    anim()

    &:hover
      opacity 1
      color $color-main

    &._active
      opacity 1
      color $color-link
