.dropdown
  display flex
  position relative

  &__name
    cursor pointer
    padding-bottom 3px
    margin-bottom -3px
    anim()

  &__content
    position absolute
    left 0px
    top 40px !important
    white-space nowrap

  &__link
    opacity .8
    padding 5px 10px
    cursor pointer
    color white
    font-size 1.2rem
    margin-right 10px
    letter-spacing 1px
    background #5e7a88
    border-radius 3px
    anim()

    &:hover
      opacity 1
      color $color-main

    &._active
      opacity 1
      background #ea6151
