.filter
  display flex
  position relative
  justify-content space-between
  align-items center
  font-size 1rem

  @media $laptop
    margin-right 30px

.filterItem
  text-align center

  &._date
    min-width 140px
    text-transform uppercase
    font-size 1.2rem
    font-weight bold
    $font-numbers()

  .fa
    cursor pointer

.filterItemDate
  display inline-flex
  padding-left 5px


.filter
  .link
    padding 10px 15px
    opacity .05
    border none
    color $color-main
    cursor pointer
    anim()

  &:hover
    .link
      opacity 1
