.form
  padding 20px
  background $color-layout

label, input, button, select, textarea
  font-family $font-primary
  border none
  background none
  outline none


.submit__btn
  display inline-flex
  padding 15px 50px
  color $color-main
  font-size 14px
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  background $color-line
  border 1px solid transparent
  border-radius 3px
  cursor pointer
  anim()

  &:hover
    color $color-link
    border-color $color-link

// Field
// ==============================================
.input
  display flex
  flex-flow row wrap
  align-items flex-start
  position relative
  padding-bottom 25px

  &:last-child
    padding-bottom 0

  &__label
    padding-top 5px
    padding-left 5px
    font-size 12px
    text-transform uppercase
    color $color-second
    font-weight bold
    letter-spacing 1px

  &__field
    width 100%
    padding 0
    padding-bottom 5px
    padding-left 5px
    margin-bottom 0
    font-size 1rem
    color $color-main
    background transparent
    border-bottom 1px solid $color-line-account
    anim()

    &:focus, &:active
      &::-webkit-input-placeholder
        color alpha($color-main, .1)

    &::-webkit-input-placeholder
      color alpha($color-main, .7)
      anim()



.input.date
  width inherit
  padding 0 10px
  text-align center
  border none
  border-bottom 1px solid $color-main

.input-filter
  display block
  width 100%
  max-width 550px
  // margin-bottom 30px
  padding 5px 15px
  padding-left 0
  padding-bottom 0px
  color $color-main
  font-size 14px
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  border 1px solid transparent
  border-radius 3px
  cursor pointer
  anim()

  &._nomargin
    margin-top 0
    margin-bottom 0

  &:focus, &:active
    // height 60px
    padding-bottom 10px
    font-size 2rem
    text-transform none
    font-weight normal
    letter-spacing 1
    border-color $color-line
    background $color-layout
    &::-webkit-input-placeholder
      opacity 0

  &::-webkit-input-placeholder
    color $color-link
    font-size 12px
    font-weight bold
    text-transform uppercase
    letter-spacing 2px

// Textarea
// ==============================================
.textarea
  width 238px
  max-width 100%
  height 200px
  margin-bottom 10px
  padding 10px 10px
  background #fff
  border 1px solid #c8d9eb
  anim()


// Field, Textarea Hover
// ==============================================
.input
.textarea
  &:hover
    //

  &:focus
    // background #f4f9ff

  &.error
    color #e44343
    border-color #e44343

  &.valid
    color #3ac020
    border-color #3ac020


// Select
// ==============================================
.select
  width auto
  margin-bottom 10px
  padding 4px 10px
  background #fff
  border 1px solid #c8d9eb
  color #819397
  //font-size 16px

  option
    padding 5px 10px


// Radio
// label.radio > (radio__value + radio__label)
// ==============================================
.radio
  position relative
  display inline-flex
  margin-right 20px
  cursor pointer

  &__label
    display flex
    align-items center
    anim()

    &:before
      content ' '
      display block
      width 16px
      height 16px
      margin-top -1px
      margin-right 5px
      border 1px solid grey
      border-radius 50%

    &:after
      content ' '
      display block
      position absolute
      left 0
      top 0
      margin-top 5px
      margin-left 4px
      width 8px
      height 8px
      margin-right 10px
      border-radius 50%
      anim()

  &__value
    display none

    &:checked + ^[0]__label
      font-weight bold

      &:after
        background grey


// Checkbox
// ==============================================
.checkbox
  width 21px
  height 21px
  margin 0 3px 0 0
  vertical-align top

  & + label
    cursor pointer

  &:not(checked)
    position absolute
    opacity 0

    & + label
      position relative
      display inline-block
      padding 0 0 0 35px
      //font-size 14px

    & + label:after
      content ''
      position absolute
      top -3px
      left 0px
      width 21px
      height 21px
      background url("../img/checkbox-b.png") no-repeat

  &:checked
    //  checked
    & + label:after
      background-position 0 -21px

    //  focus
    & + label:before
      position relative
