.formPanel
  max-width 502px
  @media $pc
    max-width inherit

.amount
  display flex
  align-items center
  justify-content center
  margin 0 auto
  padding-bottom 40px

  &._income
    .amountCountText
    .amountValueInput
      color $color-income

  &._expense
    .amountCountText
    .amountValueInput
      color $color-expense

.amountCount
  display flex
  flex 0 0 50px
  height 80px
  justify-content center
  align-items center
  font-size 5rem
  $font-numbers()
  cursor pointer

.amountValueInput
  width 150px
  height 80px
  padding 0 5px
  font-size 4rem
  $font-numbers()
  text-align right
  border-bottom 2px solid $color-line

.meta
  position relative
  display flex
  align-items center
  justify-content space-between
  margin-bottom 50px
  text-align center

.metaItem
  position relative
  display flex
  align-items center
  font-size 1.2rem
  cursor pointer

  &._left
    text-align left
  &._right
    text-align right

  &__el
    padding-right 20px

.metaItemLabel
  padding-top 5px
  font-size .9rem
  color $color-second

.metaItemDropdown
  overflow-y scroll
  max-height 300px
  z-index 2
  position absolute
  top inherit
  padding 10px
  text-align left
  background $color-layout
  border 1px solid $color-line
  border-radius 3px

  &__el
    display block
    padding 5px
    font-size 1rem
    white-space nowrap
    &:hover
      color $color-link

.categories
  margin-bottom 30px

.desc
  padding-bottom 30px

.descInput
  color $color-main
  font-size 1rem
  width 100%
  border-bottom 1px solid $color-line

.action
  text-align center

.actionButton
  display inline-flex
  padding 15px 50px
  color $color-main
  font-size 14px
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  background $color-line
  border 1px solid transparent
  border-radius 3px
  cursor pointer
  anim()

  &:hover
    color $color-link
    border-color $color-link
