.amount
  display flex
  align-items center
  width 150px
  margin 0 auto
  padding-bottom 30px

  &._income
    .amountCountText
      color $color-income
    .amountValueInput
      color $color-income

  &._expense
    .amountCountText
      color $color-expense
    .amountValueInput
      color $color-expense

.amountCount
  display flex
  width 150px
  height 80px
  justify-content center
  align-items center
  font-size 2rem
  $font-numbers()
  font-weight bold
  border 1px solid alpha(white, .1)
  cursor pointer

.amountValueInput
  width 150px
  padding 0 5px
  font-size 4rem
  $font-numbers()
  text-align right
  border-bottom 2px solid $color-line

.meta
  position relative
  display flex
  align-items center
  justify-content space-between
  margin-bottom 30px
  text-align center

.metaItem
  width 150px
  cursor pointer
  &._left
    text-align left
  &._right
    text-align right

.metaItemLabel
  font-size 12px

.metaItemDropdown
  z-index 2
  position absolute
  top inherit
  right -10px
  width 150px
  padding 10px
  background white
  border 1px solid #e7e7e7
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(42, 63, 84, .1)

.categories
  margin-bottom 30px

.desc
  padding-bottom 30px

.descInput
  color $color-main
  font-size 1rem
  width 100%
  border-bottom 1px solid $color-line

.action
  text-align center

.actionButton
  display inline-flex
  padding 15px 50px
  color $color-main
  font-size 12px
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  background $color-line
  border-radius 3px
  cursor pointer

  &:hover
    color #ababab
    background $color-link
