h1, h2, h3, h4, h5, h6
  margin 0
  margin-bottom 20px
  color $color-header
  font-size 1.2rem
  $font-secondary()
  font-weight bold
  letter-spacing 2px
  text-transform uppercase
  text-shadow 3px 3px black

h4
  font-size 1rem
  &:last-child
    margin-bottom 0

.title
  &:last-child
    margin-bottom 0

  @media $laptop
    display flex
    align-items center
    justify-content flex-start
    margin-bottom 85px

  h1&
    font-size 2rem
    letter-spacing 4px

  h2&
    margin-bottom 60px
    font-size 1.6rem
    letter-spacing 2px

  &._incomes
    // color $color-income

  &._trns
    color $color-rub

  &._sm
    margin-bottom 25px

  &._mid
    margin-bottom 45px

  &._minus
    margin-bottom -35px

    @media $laptop
      margin-bottom -15px

  &._number
    margin-top 50px
    margin-bottom 15px

  &._border
    padding-bottom 10px
    margin-bottom 10px
    border-bottom 1px solid $color-line-account

  &._wide
    $font-numbers()
    letter-spacing 8px

  .link
    display inline-flex
    cursor pointer

  .name
    text-transform none
    @media $laptop
      padding-left 15px

  .color
    color $color-rub

  .sup
    opacity .1
    color $color-second
    font-size 1rem
    margin-top -15px
    letter-spacing normal
    anim()

    ~/:hover ^[1..-1]
      opacity 2
