h1, h2, h3, h4, h5, h6
  margin 0
  margin-bottom 20px
  color $color-header
  font-size 1.2rem
  $font-secondary()
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

h4
  font-size 1rem

.title
  display flex
  align-items center

  @media $laptop
    margin-bottom 60px

  h1&
    font-size 2rem
    letter-spacing 4px

  &._sm
    margin-bottom 25px

  &._mid
    margin-bottom 45px

  &._minus
    margin-bottom -35px

    @media $laptop
      margin-bottom -15px

  .link
    display inline-flex
    cursor pointer

  .icon
    padding-left 5px
    margin 0 10px

  .name
    padding-left 15px
    text-transform none

  .color
    color $color-rub

  .sup
    opacity .1
    color $color-second
    font-size 1rem
    margin-top -15px
    letter-spacing normal
    anim()

    ~/:hover ^[1..-1]
      opacity 2
