icon($icon, $bg = #242424)
  background $bg
  .icon__pic
    fa($icon)


.icon
  display flex
  width 40px
  height 40px
  align-items center
  justify-content center
  color alpha(white, .7)
  font-size 1.2rem
  background $color-layout
  border-radius 3px

  &__pic
    fa(industry)


.icon-13 // тинькофф
  icon(credit-card-alt, #1C2833)
.icon-14 // питание
  icon(cutlery, $color-14)
.icon-15 // бензин
  icon(car, #6D4C41)
.icon-19
  icon(television)
.icon-18 // плюшки
  icon(pagelines, #007037)
.icon-23
  icon(phone)
.icon-25
  icon(shopping-bag)
.icon-28 // спорт
  icon(futbol-o, #3498DB)
.icon-32
  icon(internet-explorer)
.icon-35 // родственники
  icon(users)
.icon-37 // бытовое
  icon(tachometer)
.icon-42 // девушки
  icon(user-md)
.icon-43 // козачка
  icon(female, $color-43)
.icon-55
  icon(yelp)
.icon-59 // развлечения
  icon(smile-o)
.icon-62 // трансфер
  icon(exchange)
.icon-84 // животные
  icon(paw)


.icons
  display flex
  flex-flow wrap
  align-items center
  margin -5px

  .icon
    margin 5px
    border 2px solid transparent

    &:hover
      border-color alpha(black, .2)
      box-shadow 0 0 20px 0 rgba(42, 63, 84, .2)

    &.active
      border-color alpha(black, .4)

    &:last-child
      margin-right auto
