icon($icon, $bg = #909497)
  background $bg
  .icon__pic
    fa($icon)

.icon
  display flex
  width 40px
  height 40px
  color white
  font-size 22px
  align-items center
  justify-content center
  background grey
  border-radius 3px

.icon-14
  icon(cutlery, #e53935)
.icon-15
  icon(car, #6D4C41)
.icon-19
  icon(television, #3498DB)
.icon-18
  icon(pagelines, #4CAF50)
.icon-25
  icon(shopping-bag)
.icon-28
  icon(futbol-o, #81D4FA)
.icon-32
  icon(internet-explorer)
.icon-62
  icon(exchange)

.icons
  display flex
  .icon
    margin 0 5px
