.items
  padding-bottom 80px
  max-width 550px


// Item
// ===============================================
.item
  display flex
  position relative
  // padding 0 20px 0 10px
  color $color-second
  border-top 1px solid $color-line
  anim()

  &:hover
    color $color-main
    background $color-trn-hover

    ._action
      opacity 1

  &._selected
    border-top-color $color-body
    background alpha(white, .04) !important

  &__content
    flex 1 1
    display flex


// Item element
// ===============================================
.item__el
  display flex
  align-items center
  // border 1px solid red
  padding 10px 0
  flex-shrink 0
  color $color-second

  &:first-child
    margin-left 10px

  &:last-child
    margin-right 15px

  &._account
    width 130px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  &._action
    opacity 0
    width 55px
    justify-content center
    font-size 1.5rem
    cursor pointer
    anim()

    &:hover
      color $color-link

    &:last-child
      margin-right 0

  &._category
    flex 1 1
    // max-width 130px
    overflow hidden

  &._delete
    padding-right 10px
    text-align right

  &._grow
    flex-grow 1

  &._name
    width 200px

  &._price
    justify-content flex-end
    width 130px
    padding-right 30px
    text-align right
    white-space nowrap
    font-size 18px
    font-weight bold
    $font-numbers()

  &._second
    color $color-second
    font-size .9rem

  &._question
    color $color-expense

  &._yes
    cursor pointer
    padding-right 15px
    font-size 1.5rem
    &:hover
      color $color-link

  &._no
    cursor pointer
    font-size 1.5rem
    &:hover
      color $color-link

  &.link, &._link
    cursor pointer
    padding-right 0
    font-size 1.5rem
    opacity 0
    anim()

  a&:hover, &.link:hover, &._link:hover
    color $color-link
    border-bottom-color transparent


// Loader
// ===============================================
.item__question
  opacity 0
  visibility hidden
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  display flex
  align-items stretch
  justify-content flex-start
  padding 0
  background $color-trn
  border-radius 3px
  anim()

  &._visible
    opacity 1
    visibility visible

.item__loader
  opacity 0
  visibility hidden
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  display flex
  align-items center
  justify-content flex-start
  padding 0 15px
  background $color-trn
  border-radius 3px
  anim()

  &._visible
    opacity 1
    visibility visible

.loader
  z-index 3
  opacity 0
  visibility hidden
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  display flex
  justify-content center
  padding 100px 15px 0
  font-size 5rem
  background alpha($color-trn, .9)
  border 1px solid $color-line
  border-radius 3px
  anim()

  &._visible
    opacity 1
    visibility visible
