.items
  display flex
  align-items center

  &:last-child
    margin-bottom 0
    padding-bottom 0
    border-bottom none

  > .item
    white-space nowrap
    padding-left 30px

    &:first-child
      flex-basis auto
      padding-left 0

    &:last-child
      padding-right 0
