borderbox-all()

html
  height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // macos
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.body
  overflow-y scroll
  height 100%
  min-width 320px
  margin 0
  $font-primary-mixin()
  color $color-main
  background $color-body
  line-height 1

.app
  min-height 100%

  @media $laptop
    display flex

.main
  flex-grow 1
  padding 20px

  @media $laptop
    padding 50px
    padding-top 110px
