*
  boxsizing-borderbox()

html
  height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // macos
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.body
  overflow-y scroll
  height 100%
  min-width 320px
  margin 0
  $font-primary()
  color $color-main
  line-height 1
  letter-spacing .5px
  background $color-body

.app
  min-height 100%

  @media $laptop
    display flex

.main
  padding 10px

  @media $laptop
    flex-grow 1
    padding 50px
    padding-top 110px

.loading
  z-index 100
  display flex
  align-items center
  justify-content center
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  color $color-main
  font-size 2rem
  background $color-layout
