.menu
  list-inline()
  padding 10px 0px

  @media $laptop
    padding 25px 25px

.menuLink
  display block
  margin-right 30px
  color $color-main
  font-size 14px
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  border-bottom none

  &.active
    color $color-link
