.menu
  list-inline()
  padding 25px 25px

.menuLink
  margin-right 30px
  color $color-main
  font-size 12px
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  border-bottom none

  &.active
    color $color-link
