.module
  padding 35px 20px
  padding-bottom 40px
  border-bottom 3px solid alpha(black, .7)
  overflow-x auto
  max-width calc(100vw - 280px)

  @media $laptop
    padding 85px 80px
    padding-bottom 90px

  @media $pc
    max-width calc(100vw - 300px)

  &._bg
    background $color-layout

  &__in
    display flex

  // #mc
  &__cell
    padding-right 100px
    min-width 550px
