.expense
.trnItem .expense
  font-size 18px
  font-weight bold
  color $color-expense
  $font-numbers()

.income
.trnItem .income
  font-size 18px
  font-weight bold
  color $color-income
  $font-numbers()

.sum
  font-size 18px
  font-weight bold
  color $color-sum
  $font-numbers()
