// Display
// ==============================================
.hidden
  display none !important

.invisible
  visibility hidden


// Code
// ==============================================
code
  display block
  margin 10px 0
  margin-bottom 15px
  padding 10px
  color white
  background #222222


// Tables
// ==============================================
table
  width 100%

td
  vertical-align top
