.panel
  margin-bottom 50px
  padding 30px
  background: #fff
  border: 1px solid #e7e7e7
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(42, 63, 84, .1)

  &__title
    font-size 22px
    margin-bottom 25px
    $font-secondary-mixin()
    text-transform uppercase
    letter-spacing 1.5px
