.panel
  margin-bottom 10px
  padding 15px
  background $color-panel
  border 1px solid $color-line
  border-radius 3px

  @media $laptop
    padding 30px
    margin-bottom 80px

.panelChart
  position relative
  overflow hidden

.panelTitle
  margin-bottom 20px
  $font-secondary()

  @media $laptop
    margin-bottom 50px

  h1&
    font-size 1.5rem

  &._sm
    margin-bottom 25px

  &._minus
    margin-bottom -35px

    @media $laptop
      margin-bottom -15px

  .link
    display inline-flex
    cursor pointer

  span
    text-transform none

.panelCol
  display flex
  flex-flow row wrap
  justify-content space-between

  @media $pc
    flex-flow row nowrap

  .panel
    flex-basis 100%

    @media $pc
      flex 0 1 calc(50% - 25px)
