.rightBar
  padding 40px 10px
  border-top 2px solid $color-line
  border-bottom 2px solid $color-line

  @media $laptop
    display flex
    align-items center
    z-index 5
    max-width 552px
    position fixed
    right 0px
    padding 0px 80px
    padding-bottom 46px
    top 46px
    height 100%
    background $color-sidebar
    border none
    border-left 2px solid $color-line
