.sidebar
  position relative
  min-width 280px
  background $color-layout
  border-right 1px solid $color-line-layout

.sidebarIn
  @media $laptop
    position fixed
    left 0
    top 0
    width 280px
    height 100%
    display flex
    flex-flow row wrap
    align-content space-between
