// #ss
// ===============================================
.summaryShort
  @media $laptop
    max-width 335px
    margin-left -10px

  &._pb
    padding-bottom 60px

  // #ssi
  // ===============================================
  &__item
    position relative
    display flex
    flex 1 1 45%
    height 45px
    padding 0 10px
    align-items center
    color $color-second
    border-bottom 1px solid $color-line-account
    anim-all()

    @media $laptop
      flex-basis 100%
      max-width 100%
      height 60px
      padding 0 15px

    a&:hover
      color $color-main

    &:last-child
      margin-bottom 0
      border none

    &__total
      text-align right
      width 120px

    &__label
      flex-grow 1
      font-weight bold
      letter-spacing 1px

    &__icon
      width 45px
      $fs = 1.5rem

      &._expenses
        fa(minus-circle)
        font-size $fs

      &._incomes
        fa(plus-circle)
        font-size $fs

      &._total
        fa(area-chart)
        font-size $fs

      &._month
        fa(cubes)
        font-size $fs

      &._year
        fa(tachometer)
        font-size $fs
