.summaryShort
  width 250px
  margin-left -5px

  &__content
    display flex
    flex-flow row wrap
    align-items center
    justify-content center
    anim()

    @media $laptop
      flex-flow row nowrap
      justify-content space-between

  &__empty
    padding-left 5px

  &__el
    flex-basis 100%

    @media $laptop
      flex 1 1
      margin-right 20px
