.summaryShort
  display flex
  flex-flow row wrap
  align-items center
  justify-content center
  margin-bottom 30px

  @media $laptop
    flex-flow row nowrap
    justify-content space-between
    max-width 570px
    margin-bottom 60px

  &__el
    flex-basis 100%

    @media $laptop
      flex 1 1
      max-width 290px
      margin-right 20px

    &._pie
      margin-bottom -13px
      opacity .8
      anim()
      &:hover
        opacity 1
