.table
  display flex
  flex-flow row wrap
  justify-content space-between

  @media $pc
    flex-flow row nowrap

  &._midle
    align-items center

  &__cell
    flex 1 1 100%

    @media $pc
      flex 0 1 calc(50% - 40px)
