.table
  display flex
  flex-flow row wrap
  justify-content space-between

  @media $pc
    flex-flow row nowrap

  &__cell
    flex 1 1 100%
    padding-bottom 50px

    @media $laptop
      padding-bottom 80px

    &:last-child
      padding-bottom 0

    @media $pc
      flex 0 1 calc(50% - 80px)
      padding-bottom 0
