.topbar
  display flex
  flex-flow column wrap
  justify-content space-between
  align-items center
  background $color-layout
  border-bottom 2px solid $color-line-layout

  @media $laptop
    flex-flow row nowrap
    position fixed
    z-index 3
    left 280px
    margin 0 -30px
    margin-bottom 30px
    padding 10px
    top 0
    width calc(100% - 280px)
    margin 0
    padding 0

    &:after
      z-index 3
      content ""
      position absolute
      top 46px
      width 100%
      height 20px
      background linear-gradient(to bottom, $color-body 0%, transparent 100%)

  @media $pc
    left 300px
