.trnsPage
  position relative

.trnItem
  display flex
  align-items center
  margin-bottom 5px
  padding 10px
  padding-left 12px
  color $color-main
  background $color-trn
  border-radius 3px
  anim()

  @media $laptop
    max-width 500px
    margin-bottom 15px

  &:hover
    background $color-trn-hover

  &.account
    &-8
      border-left 3px solid $color-tinkoff

  &.rub
    border-left 3px solid $color-rub

  &__el
    padding-right 30px
    &._delete
    &._category
      display none
      @media $laptop
        display block

    &._delete
      padding-right 0
      text-align right

  &__price
    flex-basis auto
    min-width 100px
    max-width 200px
    padding-right 30px
    text-align right

  .items
    color $color-second

.trnsDay
  h3
    margin-top 50px
    margin-bottom 15px
    font-size 1rem
    font-weight bold
    letter-spacing 2px
    text-transform uppercase
    $font-numbers()

.highcharts-point
  stroke alpha(white, .2)
