.trnsPage
  position relative

.trnItem
  display flex
  align-items center
  justify-content space-between
  margin-bottom 5px
  padding 10px
  padding-left 12px
  color $color-main
  background $color-trn
  border-radius 3px
  anim()

  @media $laptop
    max-width 550px
    margin-bottom 15px

  &:hover
    background $color-trn-hover

  &:last-child
    // margin-bottom 0

  &.account
    &-8
      border-left 3px solid $color-tinkoff

  &.rub
    border-left 3px solid $color-rub

  &__el
    padding-right 30px
    color $color-main

    a&:hover
      color $color-link

    &._delete
    &._category
      display none
      @media $laptop
        display block

    &._delete
      text-align right

  &__price
    flex 0 0
    min-width 100px
    max-width 200px
    padding-right 30px
    text-align right

  // .items
  //   color $color-second

.trnsDay
  h3
    margin-top 50px
    margin-bottom 15px
    font-size 1rem
    font-weight bold
    letter-spacing 2px
    text-transform uppercase
    $font-numbers()

.trnsList
  &._fixheight
    overflow-y scroll
    height 245px
