@utility interactive {
  @apply select-none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @apply bg-elevated/50;
    }
  }

  &:active {
    @apply bg-elevated/50;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility stat-layout {
  --stat-column-gap: 4rem;
}

@utility stat-two-column-grid {
  display: grid;
  min-width: 0;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--stat-column-gap);
}

@utility stat-responsive-two-column-grid {
  display: grid;
  gap: 1.25rem;

  @container stat (min-width: 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--stat-column-gap);
  }
}

@utility stat-column-width {
  width: 100%;

  @container main (min-width: 48rem) {
    width: calc((100% - var(--stat-column-gap)) / 2);
  }
}

@utility page-wrapper {
  @apply @xl/page:max-w-2xl grow px-3 @md/page:px-4;
}

@utility bottom-sheet-drag-classes-custom {
  @apply bg-default max-w-md rounded-xl;
}

@utility bottom-sheet-content {
  @apply grid h-full max-h-[98dvh] grid-rows-[auto_1fr_auto] overflow-hidden;
  padding-bottom: calc(env(safe-area-inset-bottom) - 22px);
}

@utility bottom-sheet-content-inside {
  @apply grid h-full bg-default gap-1 overflow-hidden overflow-y-auto px-2 py-px;
}

@utility bottom-sheet-content-bottom {
  @apply flex items-center justify-center p-2;
}

@utility scroller-block {
  scrollbar-width: auto;
}
