.modalLinks
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-column-gap $m7
  grid-row-gap $m7
  padding 0 $m7
  padding-bottom $m5

  &._two
    grid-template-columns repeat(2, 1fr)

  &._noPadding
    padding 0
