.currencies
  &__item
    flex 1
    padding $m6
    border-bottom 1px solid var(--c-bg-6)

    &:hover
      @media $media-laptop
        background var(--c-bg-6)

    &._active
      color var(--c-font-1)
      background var(--c-bg-8)
