.panel
  padding 30px
  background $color-trn
  border-radius 3px

.gridTable
  max-width 1200px
  display grid
  grid-template-columns repeat(auto-fit, minmax(320px, 1fr))
  grid-column-gap 100px
  grid-row-gap 60px

  &__item
    max-width 470px

.grid
  display grid
  grid-template-columns minmax(90px, 100px) minmax(65px, 1fr) auto auto
  grid-column-gap 15px
  padding 0
  anim()

  &._form
    grid-template-columns 40px minmax(100px, auto) minmax(65px, auto) 1fr auto auto

  &._editable
    z-index 2
    position relative
    border-top 1px solid $color-rub
    border-bottom 1px solid $color-rub

  &._updated
    border-top 1px solid $color-income
    border-bottom 1px solid $color-income

  &__item
    align-self center

    &._description
      padding 5px 0 10px
      font-size .8rem
      grid-column 2 / 5

    &._price
      text-align right
      padding-right 5px
      line-height 1.3rem

    &._none
      display none

    &__date
      font-size .8rem
      padding-bottom 5px

    &__account
      font-size .9rem
      white-space nowrap

    &._action
      width 46px
      opacity .2
      cursor pointer
      padding 15px 10px
      font-size 1.5rem
      text-align center
      anim()

      &:hover
        opacity 1
        color $color-main

.yearStat
  padding-right 100px
  flex 0 0 470px

input.flatpickr-input
  opacity 0
  width 0
  height 0
  padding 0
  margin 0

.flatpickr.control
  margin 0


.stat
  opacity .7
  anim()
  border 1px solid $color-line-layout
  overflow-x auto
  scrollbar()

  &:hover
    opacity 1

  &__in
    display flex
    align-items center
    justify-content space-between
    scrollbar()

  &__date
    padding-bottom 20px
    text-align center
    font-size .8rem
    font-weight bold

  &__item
    cursor pointer
    min-width 10rem
    height 24rem
    flex 1 0 auto
    padding 30px 0px
    border-right 1px solid $color-line
    anim()

    &:last-child
      margin-right 0
      border 0

    &:hover
    &._active
      background $color-trn-hover

    &._active
      cursor default

  &__values
    display none
    max-width 70px
    margin 0 auto
    text-align right
    padding-top 10px
    .incomes
    .expenses
    .sum
      font-size 1rem

  &__graph
    max-width 70px
    margin 0 auto
    display flex
    align-items flex-end
    height 19.5rem
    padding-bottom 20px

    &__in
      flex 1 1 auto

      &._incomes
        margin 0 4px
        background $color-income

      &._expenses
        margin 0 4px
        background $color-expense

      &._empty
        height 1px
        margin 0 4px
        background $color-line

  &__empty
    cursor default
    text-align center

// #fct
// ===============================================
.fastCreatTrn
  &__content
    padding-bottom 30px

  &__day
    margin-bottom 80px
    padding-bottom 0px
    border-bottom 1px solid $color-line
    &:last-child
      margin-bottom 0

  &__addDay
    display inline-flex
    padding 15px 30px
    text-transform uppercase
    letter-spacing 1px
    font-weight bold
    background $color-line
    border 1px solid $color-line
    border-radius 3px
    anim()

    &:hover
      border-color $color-link

  &__trn
    display flex
    align-items center

    &__item
      flex 1 1
      padding 0 20px

      &:first-child
        padding-left 0

      &:last-child
        padding-right 0


.mb
  margin-bottom 60px

.sl
  max-width 460px
  margin -10px

.dark
  background $color-layout


.page-blur
  z-index 5
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background alpha($color-layout, .8)

.bg-1
.bg-1.icon
  background $color-rub

.bg-2
.bg-2.icon
  background $color-tinkoff

.toogleTrnCreateBtn
  z-index 15
  position fixed
  width 50px
  height 100%
  right 0
  top 0
  cursor pointer
  display flex
  align-items flex-start
  justify-content center
  right 0px
  padding 5px 10px 0 10px
  color $color-second
  border-left 2px solid transparent
  anim()

  &__icon
    display flex
    align-items center
    justify-content center
    width 30px
    height 30px
    color $color-main
    font-size 2.5rem
    $font-numbers()
    border 2px solid transparent
    border-radius 50%
    anim()

    ^[0]:hover &
      color $color-link

    ^[0]._active &
      margin-right 20px
      color $color-link
      font-size 3.5rem
      transform rotate(45deg)
      border-color $color-link


.ml
  margin-left 15px
