.CHANGE1
  display flex
  justify-content space-between
  flex-grow 1

  &__item
    flex-grow 1

    &:last-child
      display flex
      justify-content center
      flex-grow 0
      padding-left 170px
      padding-right 80px

.grid
  display grid
  grid-template-columns minmax(90px, 100px) minmax(65px, 1fr) auto auto
  grid-column-gap 15px
  padding 10px 0
  border 1px solid transparent
  anim()

  &._form
    grid-template-columns 40px minmax(100px, auto) minmax(65px, auto) 1fr auto auto

  &._editable
    border 1px solid $color-rub
    border-left 10px solid $color-rub

    & ^[0]__item._action
      opacity 1

  &._updated
    border-top 1px solid $color-income
    border-bottom 1px solid $color-income

  &__item
    align-self center

    &._description
      padding 5px 0 10px
      font-size .8rem
      grid-column 2 / 5

    &._price
      text-align right
      padding-right 5px
      line-height 1.3rem

    &._none
      display none

    &__date
      font-size .8rem
      padding-bottom 5px

    &__category
      font-size .9rem
      white-space nowrap
      padding-bottom 10px

      a&
        display flex
        color $color-main

    &__account
      font-size .9rem
      white-space nowrap

      a&
        display flex
        color $color-main

    &._action
      width 46px
      opacity .2
      cursor pointer
      padding 15px 10px
      font-size 1.5rem
      text-align center
      anim()

      &:hover
        opacity 1
        color $color-main

.panel
//   margin-top 30px
  padding 30px
  background $color-trn
  border-radius 3px

  .link
    margin 5px 0px
