.grid
  display grid
  grid-template-columns minmax(90px, 100px) minmax(65px, 1fr) auto auto
  grid-column-gap 15px
  padding 0
  anim()

  &._form
    grid-template-columns 40px minmax(100px, auto) minmax(65px, auto) 1fr auto auto

  &._editable
    z-index 2
    position relative
    border-top 1px solid $color-rub
    border-bottom 1px solid $color-rub

  &._updated
    border-top 1px solid $color-income
    border-bottom 1px solid $color-income

  &__item
    align-self center

    &._description
      padding 5px 0 10px
      font-size .8rem
      grid-column 2 / 5

    &._price
      text-align right
      padding-right 5px
      line-height 1.3rem

    &._none
      display none

    &__date
      font-size .8rem
      padding-bottom 5px

    &__account
      font-size .9rem
      white-space nowrap

    &._action
      width 46px
      opacity .2
      cursor pointer
      padding 15px 10px
      font-size 1.5rem
      text-align center
      anim()

      &:hover
        opacity 1
        color $color-main

.panel
  padding 30px
  background $color-trn
  border-radius 3px

.yearStat
  padding-right 100px
  flex 0 0 470px

.bg-1
.bg-1.icon
  background $color-rub

.bg-2
.bg-2.icon
  background $color-tinkoff

.ml
  margin-left 15px
