.account
  flex-grow 1
  padding 0 25px
  padding-bottom 40px

  &:last-child
    padding-bottom 0

.accountSidebar__showAll
  display block
  cursor pointer
  position relative
  padding 10px 10px
  font-size .8rem
  color alpha($color-second, .5)
  anim-all()

  &:hover
    color $color-link

.account-1
.account1
  color $color-rub
.account-2
.account2
  color $color-tinkoff

.accountPage
  padding-bottom 0px

.accountTitle
  display flex
  align-items center
  justify-content center
  padding 15px 0 0 0
  font-size .9rem
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

  @media $laptop
    padding 25px 0

  @media $pc
    padding-top 35px

.accountContent
  display flex
  flex-flow column wrap
  justify-content space-between
  flex-space(2)

  @media $laptop
    flex-flow row wrap

.accountContentItem
  position relative
  display flex
  flex 1 1 45%
  height 45px
  margin-top -1px !important
  padding 0 35px
  justify-content space-between
  align-items center
  color $color-second
  border-bottom 1px solid $color-trn-hover
  anim()

  @media $laptop
    flex-basis 100%
    height 60px
    padding 0 5px

  &._circle
    padding-left 30px

    &:hover:before
      opacity 1

    &:before
      content " "
      position absolute
      left 10px
      top 50%
      width 8px
      height 8px
      margin-top -5px
      border-radius 50%
      background $color-line-account
      opacity .6
      anim()

  a&:hover
    color $color-main

  &:last-child
    margin-bottom 0
    border none

  &.account1
    &:before
      background #2E86C1

  &.account2
    &:before
      background #ab68da

  &.account1.active
    color #2E86C1

  &.account2.active
    color #ab68da

  &:hover
    margin 0 -25px
    padding 0 30px
    background $color-trn-hover

    &._circle
      padding-left 55px

      &:before
        left 35px

.accountContentItemTotal
  $font-numbers()
  letter-spacing 1px
  color $color-sum
  font-weight bold
  text-align right

  @media $laptop
    flex-flow row wrap
