.slideToBottom
  &-enter-active
  &-leave-active
    transition all 400ms ease

  &-enter
  &-leave-to
    opacity 0
    transform translateY(100%)


.fade
  &-enter, &-leave-to
    opacity 0
    anim-opacity(.05s)

  &-enter-to, &-leave-to
    opacity 1
    anim-opacity(.1s)

.calendarPopupAnimation
  &-enter-active, &-leave-active
    opacity 1
    transition all 400ms ease

  &-enter, &-leave-active
    opacity 0


// pages
.slide
  &-enter
    opacity 0
    transform translateY(50px)

  &-enter-to
    opacity 1
    transition all .5s cubic-bezier(0.17, 0.04, 0.03, 0.94)


// Right Sidebar
// ===============================================
.slideToLeft
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateX(550px)

// Left Sidebar
// ===============================================
.slideToRight
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateX(-120%)


// Slide to Top
// ===============================================
.slideToTop
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateY(-100px)

// Slide to Top
// ===============================================
.trnFormAnimation
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateY(30%)


// Slide to Top
// ===============================================
.leftBarAnimation
  &-enter-active
  &-leave-active
    opacity 1
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateX(-300px)
