.fade
  &-enter, &-leave-to
    opacity 0
    anim-all()

  &-enter-to, &-leave-to
    opacity 1
    anim-all()

.calendarPopupAnimation
  &-enter-active, &-leave-active
    anim()

  &-enter, &-leave-active
    opacity 0
    transform translateY(-20px)


// pages
.slide
  &-enter
    opacity 0
    transform translateY(50px)

  &-enter-to
    opacity 1
    transition all .5s cubic-bezier(0.17, 0.04, 0.03, 0.94)


// Right Sidebar
// ===============================================
.slideToLeft
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateX(550px)


// Slide to Top
// ===============================================
.slideToTop
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateY(-100px)

// Slide to Top
// ===============================================
.trnFormAnimation
  &-enter-active
  &-leave-active
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateY(30%)


// Slide to Top
// ===============================================
.leftBarAnimation
  &-enter-active
  &-leave-active
    opacity 1
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

  &-enter
  &-leave-to
    opacity 0
    transform translateX(-280px)
