.arrow
  height 14px

  &:after
  &:before
    content ""
    display block
    background $color-grey
    width 9px
    height 2px
    margin-top 3px

  &._right
    &:after
      transform rotate(-45deg)

    &:before
      transform rotate(45deg)

  &._left
    &:after
      transform rotate(45deg)

    &:before
      transform rotate(-45deg)
