.calendar
  background none !important

.calendar-dropdown
  width calc(100% + 20px)
  z-index 2
  background $color-body
  position absolute
  left 0
  top 0
  padding 10px
  background $color-layout
  margin 0 -10px

  @media (min-width: 768px)
    padding 20px
    box-shadow 6px 6px 0px alpha(#131313, .5)
    border 4px solid $color-sidebar

  &:before
    position absolute
    left 28px
    top -26px
    content ""
    border 12px solid rgba(0, 0, 0, 0)
    border-bottom-color $color-sidebar

  &:after
    position absolute
    left 30px
    top -19px
    content ""
    border 10px solid rgba(0, 0, 0, 0)
    border-bottom-color $color-layout

.calendar-dialog
  position absolute
  left 0
  top 0
  right 0
  bottom 0

.calendar-dialog-mask
  width 100%
  height 100%

.calendar-dialog-body
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
  padding 0px
  border 1px solid #eee
  border-radius 2px


.calendarPeriod
  display block
  padding-bottom 60px
  
  @media (min-width: 768px)
    padding-bottom 0

  &__group
    display flex
    justify-content space-between
    padding-bottom 15px

    @media (min-width: 768px)
      display block
      padding-bottom 20px

    &:last-child
      padding-bottom 0

  &__item
    cursor pointer
    padding 10px 10px
    anim()
    border-radius 3px
    color $color-main
    font-size 1rem
    letter-spacing 1px
    text-transform none
    font-weight normal
    $font-primary()

    &:hover
      color #444
      background #f3f8fa

    &._active
      cursor default
      background #5e7a88
      color white
