.categories
  position relative
  margin-bottom 50px

  &:last-child
    margin-bottom 0

  &__dropdown
    z-index 3
    position absolute
    left 0
    top 52px
    width 100%
    height 300px
    overflow-y scroll
    scrollbar()
    background $color-itemStat-active
    border 1px solid $color-itemStat-border

  &__list
    padding-top 30px

  &__filter
    position relative
    display flex
    align-items center

    &__input
      display block
      width 100%
      padding 15px 100px 15px 15px
      color $color-main
      font-size 1rem
      font-weight bold
      text-transform none
      letter-spacing 2px
      background $color-line
      border 1px solid $color-line
      cursor pointer
      anim()

      &:hover, &:focus
        border 1px solid $color-link

    &__btns
      position absolute
      right 0px
      top 0px
      height 100%
      display flex
      flex-flow row nowrap
      align-items center

    &__btn
      display flex
      justify-content center
      align-items center
      width 60px
      height 100%
      text-transform uppercase
      font-size 1.2rem
      color $color-white
      font-weight bold
      cursor pointer
      anim()

      &:hover
        background alpha($color-link, .8)

.categoriesIcons
  display grid
  grid-template-columns repeat(auto-fit, 35px)
  grid-column-gap 10px
  grid-row-gap 10px
  @media (min-width: 768px)
    grid-template-columns repeat(auto-fit, 45px)

  &._nowrap
    grid-template-columns repeat(auto-fill, minmax(100px, 1fr))

  &._mb
    padding-bottom 80px

.categoryStat
  display flex

  &__trns
    flex-grow 1
    max-width 370px

    &._long
      max-width 480px

  &__summary
    margin-left 100px

  &__child
    flex 1 0
    margin-left 100px
