.categoriesIcons
  display flex
  flex-flow row wrap
  margin -5px

  &._mb
    padding-bottom 80px

  &__el
    margin 4px

    @media $laptop
      margin 5px

.categoryStat
  display flex

  &__trns
    margin-left -10px
    flex-grow 1
    max-width 400px
    max-height 700px
    min-width 300px
    overflow-y auto

    &._long
      max-width 480px

  &__summary
    margin-left 100px

// #c
.categories
  margin-left -10px

// ci
.categoryItem
  position relative
  display block
  min-width 300px
  padding 10px
  color $color-second
  border-radius 3px
  border 2px solid transparent
  border-bottom 1px solid $color-line
  anim()

  &._opened
    margin-bottom 15px
    background $color-trn-hover
    border 2px solid $color-line
    border-top 1px solid $color-line

    &:last-child
      margin-bottom none

  .categoryItem
    border-bottom none

  &._editable
    background $color-trn-hover

  &:hover
    background $color-trn-hover

  &:hover &__action
  &._editable &__action
    opacity 1

  &__edit
    margin-top 15px
    border-radius 3px
    border 1px solid $color-line

  &__icon
    padding-right 15px

  &__content
    display flex
    flex-flow row nowrap
    flex-grow 1
    align-items center

  &__children
    padding 10px 0 0 10px
    margin-right -10px

  &__name
    color $color-second
    flex-grow 1
    text-transform capitalize
    font-size 1.1rem

  &__text
    display flex
    padding-bottom 10px

  &__action
    text-align center
    opacity 0
    width 55px
    font-size 1.5rem
    cursor pointer
    anim()

    &:hover
      color $color-link

    &:last-child
      margin-right 0


.countWithChildren
  display inline-block
  margin-bottom 40px
  padding 25px
  background $color-layout
