// Category Item
// ===============================================
.categoryItem
  cursor default
  overflow hidden
  position relative
  margin-bottom -1px
  color $color-second
  border 1px solid transparent
  border-top 1px solid $color-categoryItem-border
  border-bottom 1px solid $color-categoryItem-border
  anim()

  &._editable
    background $color-layout
    border 1px solid $color-link
    border-radius 3px

  &._link
    cursor pointer

  &._delete
    cursor default
    border-color $color-expense !important

  &._active
    & ^[0]__content
      cursor default
      opacity .7

  &._open
    margin 0
    background $color-categoryItem-bg
    border 1px solid $color-categoryItem-border
    border-radius 3px

    &:hover
      border-color $color-link

  &:first-child
    border-top-color transparent

  &:last-child
    margin-bottom 0

  &__content
    display flex
    flex-flow row nowrap
    flex-grow 1
    align-items center
    padding 15px
    color $color-second
    anim()

    &:hover
      background $color-trn-hover

    &:focus
      outline 0

  &__icon
    padding-right 25px

  &__name
    display flex
    align-items center
    flex-grow 1
    text-transform capitalize
    font-size 1rem

    &__list
      display flex
      font-size 1.2rem
      margin-left 20px
      margin-bottom -4px
      opacity .3
      anim()
      ^[0]__content:hover &
        opacity 1

  &__text
    display flex
    padding-bottom 10px

  &__action
    display block
    text-align center
    opacity .2
    width 55px
    font-size 1.5rem
    cursor pointer
    anim()

    a&
      color $color-second

    ^[0]__content:hover &
      opacity 1

    &:hover
      opacity 1
      color $color-link

    &:last-child
      margin-right 0

  &__child
    padding 0 35px 10px
    border-top 1px solid $color-categoryItem-border
    cursor default

  &__edit
    padding 20px


// Category Item Child
// ===============================================
.categoryItemChild
  position relative
  display block
  min-width 300px
  margin 0
  border none
  color $color-second
  border 1px solid transparent
  border-top 1px solid $color-line

  &:first-child
    border-top 0

  &._link
    cursor pointer

  &._delete
    cursor default
    border-color $color-expense !important

  &._active
    & ^[0]__content
      cursor default
      opacity .7

  &:last-child
    margin-bottom 0
    border-bottom-color transparent

  &__content
    @extend .categoryItem__content

  &__icon
    @extend .categoryItem__icon

  &__name
    @extend .categoryItem__name

  &__text
    @extend .categoryItem__text

  &__action
    @extend .categoryItem__action
    ^[0]__content:hover &
      opacity 1
      background red

  &__edit
    @extend .categoryItem__edit
