.chart
  height 300px
  margin-bottom 30px
  padding 20px 10px 0px 10px
  background $color-itemStat
  border 1px solid $color-itemStat-border


.chart-year-item__wrap
  display: flex;
  padding: 60px;
  padding-bottom: 50px;
  width: 100%;
  max-width: 960px;


.yearStatNumbers
  min-width: 250px;
  margin-right: 60px;


.yearChart__title
  margin-bottom: 30px;
  color: #777;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: 'Unica One',Roboto,sans-serif;
  text-transform: uppercase;
  color: #e3e3e3;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
