.chart
  height 300px
  padding 20px 10px 0 0px
  background $color-itemStat
  border 1px solid $color-itemStat-border

  @media (min-width: 768px)
    padding 60px 60px 40px 45px
    margin-bottom 0px
    height 400px
