.dropdown
  z-index 10
  position absolute
  left 0
  bottom 10px
  transform translate(-30%, 100%)
  background $color-layout
  box-shadow 2px 2px 0px alpha(#131313, .5)
  border 2px solid $color-sidebar

  &__in
    padding 5px 15px
