.dropdown
  display flex
  position relative

  &__name
    cursor pointer
    padding-bottom 3px
    margin-bottom -3px
    anim()

  &__content
    position absolute
    left 0px
    top 40px !important
    white-space nowrap

  &__link
    padding 5px 10px
    cursor pointer
    color white
    font-size 1.2rem
    margin-right 10px
    letter-spacing 1px
    background #5e7a88
    border-radius 3px

    &:hover
      background alpha(#ea6151, .5)

    &._active
      opacity 1
      background #ea6151


.calendar-dropdown
  display grid
  grid-template-rows 1fr 1fr
  grid-column-gap 50px
  width auto
  white-space nowrap

  @media (min-width: 1300px)
    grid-template-rows auto
    grid-template-columns auto auto
    width 550px
