.filter
  display flex
  padding-bottom 40px

  @media (min-width: 768px)
    padding-bottom 70px

.filterBtn
  display block
  width 100%
  margin-bottom 60px
  padding 15px
  color $color-main
  font-size 1rem
  font-weight bold
  text-transform none
  letter-spacing 2px
  background $color-line
  border 1px solid $color-body
  border-radius 3px
  cursor pointer
  anim()

  &:hover, &:focus
    border 1px solid $color-link

  &._mbn
    margin-bottom 0
