.form__table
  display flex
  align-items center
  margin-bottom 40px

  &__cell
    &._name
      flex-grow 1
      margin-right 40px

    &._color
      margin-right 20px

.amount
  outline none
  display flex
  align-items flex-end
  justify-content center
  margin 0 auto
  padding-bottom 20px

  @media (min-width: 768px)
    padding-bottom 30px

  .amountCount
    &:focus
      //outline none

  &._income
    .amountCount
      background $color-income

    .amountValueInput
      color $color-income
      border-color $color-income

  &._expense
    .amountCount
      background $color-expense

    .amountValueInput
      color $color-expense
      border-color $color-expense

.amountCount
  user-select none
  overflow hidden
  display flex
  width 40px
  height 40px
  justify-content center
  align-items center
  font-size 3rem
  color #e4e4e4
  $font-numbers()
  cursor pointer
  background $color-line
  anim()

.amountValue
  flex 1 1

.amountValueInput
  width 100%
  height 40px
  padding 0 10px
  padding-right 35px
  font-size 1.4rem
  $font-numbers()
  color $color-main
  background $color-amount-input-bg
  border 1px solid $color-line
  anim()


.descInput
  color $color-main
  font-size 1rem
  width 100%
  border-bottom 1px solid $color-line
