.gridTable
  display grid
  max-width 1200px
  grid-template-columns minmax(200px, 540px) minmax(200px, 540px)
  grid-column-gap 60px
  grid-row-gap 60px

  @media $pcNew
    grid-column-gap 220px

  &._static
    grid-template-columns minmax(auto, 300px) minmax(auto, 550px)

  &._statItems
    grid-template-columns repeat(2, minmax(auto, 1fr))

    & ^[0]__item
      max-width 550px
