.gridTable
  display grid
  grid-column-gap 20px
  grid-row-gap 50px

  &__item
    position relative

  @media (min-width: 768px)
    grid-column-gap 50px
    grid-row-gap 100px

  @media (min-width: 1200px)
    grid-column-gap 140px
    grid-template-columns minmax(200px, 1.5fr) minmax(200px, 1fr)

  // Dashboard filter
  &._dashboard
    padding-bottom 30px

    @media (min-width: 1200px)
      grid-template-columns minmax(200px, 1.6fr) minmax(200px, 1fr)
      grid-column-gap 80px
      padding-bottom 0px

    &:last-child
      padding-bottom 0

  // Dashboard horizontal periods
  &._periods
    grid-row-gap 10px

    @media (min-width: 768px)
      margin-bottom 10px
      grid-row-gap 40px
      grid-column-gap 40px
      grid-template-columns minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr)

  &._stats
    grid-row-gap 80px

    @media (min-width: 1200px)
      grid-row-gap 60px
      grid-column-gap 120px
      padding-bottom 60px
      grid-template-columns minmax(auto, 1fr) minmax(auto, 1fr)

  &._categeryGraph
    grid-row-gap 0px
    max-width 840px

    @media (min-width: 1200px)
      grid-row-gap 60px
      grid-column-gap 80px
      grid-template-columns minmax(auto, 280px) minmax(auto, auto)
