h1, h2, h3, h4, h5, h6
  margin 0
  margin-bottom 20px
  color $color-header
  font-size 1.2rem
  $font-secondary()
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

  &._marginBottomSmall
    margin-bottom 1rem

h4
  font-size 1rem
  &:last-child
    margin-bottom 0

.title
  display flex
  margin-bottom 60px
  align-items center

  &:last-child
    margin-bottom 0

  @media $laptop
    margin-bottom 85px

  h1&
    font-size 1.5rem
    letter-spacing 2px

    @media $laptop
      font-size 2rem
      letter-spacing 4px

  h2&
    margin-bottom 60px
    font-size 1.6rem
    letter-spacing 2px

  &._dashboard
    margin-bottom 15px

  &._items
    padding-left 6px
    margin-bottom 0

  &._mrg
    margin-bottom 66px

  &._link
    cursor pointer

  &._trns
    color $color-rub

  &._sm
    margin-bottom 25px

  &._mbn
    margin-bottom 0

  &._mid
    margin-bottom 45px

  &._mbm
    margin-bottom 3rem

  &._mbs
    margin-bottom 2rem

  &._pl
    padding-left 5px

  &._minus
    margin-bottom -35px

    @media $laptop
      margin-bottom -15px

  &._number
    margin-top 50px
    margin-bottom 15px

  &._border
    padding-bottom 10px
    border-bottom 1px solid $color-line-account

  &._wide
    $font-numbers()
    letter-spacing 8px

  &__sub
    padding-left 10px
    margin-bottom 0
    color $color-main

  .name
    text-transform none

    @media $laptop
      padding-left 15px

  .color
    color $color-rub

  .sup
    opacity .01
    color $color-second
    font-size 1rem
    margin-top -15px
    margin-left 15px
    letter-spacing normal
    anim()

    &._visible
      opacity 1
      color alpha($color-second, 1)

    ~/:hover ^[1..-1]
      opacity 1


  &__calendar
    cursor pointer
    display inline-flex
    align-items center
    white-space nowrap
    font-size 1.6rem
    anim()

    &:hover
      padding 20px
      margin -20px
      background $color-trn-hover

    &__icon
      padding-right 20px

    &__sup
      margin -15px 0 0 15px
      color $color-second
      font-size 1.2rem
      letter-spacing normal
