$localFont()
  $font-numbers()
  font-size 16px
  font-weight bold
  letter-spacing .5px
  text-transform uppercase

  @media $after768
    font-size 16px
    line-height 1.2rem

.header
  overflow hidden
  background $color-header-bg
  anim()

  @media (min-width: 768px)
    z-index 3
    position fixed
    left 0
    top 0
    width 100%
    border-bottom 1px solid black

  &__in
    display flex
    justify-content flex-start
    flex-flow row wrap
    align-items center
    min-height 49px
    max-width 1255px
    padding 0 10px
    padding-left 30px
    anim()

    @media $before768
      justify-content space-between
      padding 5px 0px
      border-bottom 1px solid $color-body

    @media $after768
      padding 0 75px 0 30px

  &__col
    display flex
    align-items center
    justify-content space-between
    white-space nowrap

    @media $after768
      justify-content center

    &._left
      @media $after768
        flex 0 0 290px
        margin-left -30px
        margin-right 60px
        padding 0 10px
        justify-content space-between

    &._date
      width 120px
      justify-content flex-start

    &:last-child
      @media $after768
        flex 0 0 200px
        margin-right -10px
        justify-content flex-end
        margin-left auto


  &__date
    color $color-white
    $localFont()


  &__link
    display flex
    align-items center
    position relative
    cursor pointer
    padding 15px
    height 49px
    color $color-grey
    $localFont()
    anim()

    @media $after768
      padding 15px 10px

    &:active
      @media $before768
        background $color-sidebar-bg-hover
        color $color-white

    &:hover
      @media $after768
        background $color-sidebar-bg-hover
        color $color-white

    &._extraPadding
      padding 15px 20px

    &._active
      color $color-white

    &._categories
      padding-top 17px
      font-size 20px

    &._disabled
      cursor default
      opacity .1

    &._disabled:hover
      background none

    .plus
      anim()

    .mdi
      font-size 22px

      @media $after768
        font-size 20px

    .fa
      font-size 20px

      @media $after768
        font-size 16px

    &._active .plus
      transform rotate(45deg)

    &._active .plus:after
    &._active .plus:before
      background $color-main
