.iconsGroup
  display flex
  flex-flow row wrap
  display grid
  grid-template-columns repeat(auto-fit, 32px)
  grid-column-gap 10px
  grid-row-gap 10px

  @media $after768
    grid-column-gap 8px
    grid-row-gap 8px
    grid-template-columns repeat(auto-fit, 26px)

.plus
  position relative
  display flex
  align-items center
  height 14px

  &:after
  &:before
    content " "
    display block
    width 14px
    height 2px
    background $color-grey

  &:after
    position absolute
    top 6px
    transform rotate(90deg)


.close
  @extend .plus
  transform rotate(45deg)


.icon
  display flex
  align-items center
  justify-content center
  width 32px
  height 32px
  padding-top 1px
  padding-left 1px
  color $color-icon-text
  font-size 14px
  background $color-icon-bg

  @media $after768
    width 24px
    height 24px

  .mdi
    margin-top -1px
    font-size 15px

  &._big
    width 32px
    height 32px
    font-size 18px

  &._round
    border-radius 50%

  &._more
    background $color-graph

  &._link
    cursor pointer

  &._disabled
    cursor default
    opacity .3

  &__abbr
    font-size 10px
    font-weight bold

  &__label
    pointer-events none
    z-index 2
    position absolute
    visibility hidden
    text-align left

    ^[0]:hover &
    .stat__item2:hover &
      @media (min-width: 768px)
        visibility visible

    &__in
      opacity 0
      display block
      position relative
      z-index 2
      left 50%
      top -43px
      padding 10px 15px
      color $color-icon-text
      font-size .9rem
      font-weight normal
      text-transform none
      letter-spacing 1px
      background #242424
      border-radius 3px
      white-space nowrap
      transform translate(-50%, 50%)

      ^[0]:hover &
      .stat__item2:hover &
        opacity 1
        transform translate(-50%, 0)

      .stat__item2:hover &
        transform translate(-50%, 100%)
        top 7px
