.icon
  position relative
  display flex
  width 35px
  height 35px
  padding-left 1px
  align-items center
  justify-content center
  color $color-icon-text
  font-size 1.2rem
  letter-spacing 0
  background $color-icon-bg
  border-radius 3px
  border 3px solid transparent
  anim()

  &._mr
    margin-right 20px

  &._text
    padding 0 10px

  &._active
    color $color-icon-text-active
    border-color $color-icon-bg-active !important
    background $color-icon-bg-active !important

  &._more
    background $color-graph

  &._link
    cursor pointer
    anim()

    @media (min-width: 768px)
      &:hover
        border-color $color-icon-bg-active !important

    &:focus
      outline none
      border-color $color-icon-bg-active

  &__abbr
    font-size .8rem
    font-weight bold

  &__label
    pointer-events none
    z-index 2
    visibility hidden
    opacity 0
    position absolute
    left 50%
    top -43px
    padding 10px 15px
    color $color-icon-text
    font-size 1rem
    font-weight normal
    text-transform none
    letter-spacing 1px
    background #242424
    border-radius 3px
    transform translate(-50%, 50%)
    white-space nowrap
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

    ^[0]:hover &
      @media (min-width: 768px)
        opacity 1
        visibility visible
        transform translate(-50%, 0)


.iconsGroup
  display flex
  flex-flow row wrap
  display grid
  grid-template-columns repeat(auto-fit, 35px)
  grid-column-gap 10px
  grid-row-gap 10px

  @media (min-width: 768px)
    grid-column-gap 10px
    grid-row-gap 10px
    grid-template-columns repeat(auto-fit, 35px)

  &._nowrap
    grid-template-columns repeat(auto-fill, minmax(100px, 1fr))

  &._mb
    padding-bottom 80px
