.icon
  position relative
  display flex
  min-width 40px
  width 40px
  height 40px
  padding-left 1px
  align-items center
  justify-content center
  color alpha(white, .7)
  background #242424
  border-radius 3px
  border 2px solid transparent
  anim()

  .fa
    font-size 1.5rem

  .mdi
    font-size 1.7rem

  &._active
    color white
    border-color $color-main
    background $color-link !important

  &._link
    cursor pointer
    anim()

    &:hover
      background $color-link !important
      & ^[0]__label
        opacity 1
        visibility visible
        transform translate(-50%, 0)

    &:focus
      outline none
      border-color $color-rub

  &__abbr
    font-size 1rem
    font-weight bold

  &__label
    pointer-events none
    z-index 2
    visibility hidden
    opacity 0
    position absolute
    left 50%
    top -43px
    padding 10px 15px
    background #242424
    border-radius 3px
    transform translate(-50%, 50%)
    white-space nowrap
    transition all .3s cubic-bezier(0.17, 0.04, 0.03, 0.94)

.icon-incomes
  font-size 2.5rem
  margin-right 20px
  fa(pie-chart)
  background none
