.items
  max-width 570px
  margin-bottom 60px
  // overflow-x auto

  &:last-child
    margin-bottom 0


// Item
// ===============================================
.item
  position relative
  color $color-second
  border-radius 3px
  anim()

  &:last-child
    border-bottom none

  &:hover
    color $color-main
    background $color-trn-hover

  &:last-child
    border 0

  &._selected
    border-top-color $color-body
    background alpha(white, .04) !important

  // item__edit
  // ===============================================
  &__edit
    border-top 2px solid $color-body
    padding 30px

  // item__el
  // ===============================================
  &__el
    display flex
    align-items center
    padding 15px 0
    flex-shrink 0
    color $color-second

    &:first-child
      margin-left 15px

    &._account
      width 130px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    &._action
      justify-content center
      width 46px
      margin-left 15px
      opacity .2
      cursor pointer
      padding 15px 0
      font-size 1.5rem
      anim()

      &:hover
        opacity 1
        color $color-main

    &._category
      flex 1 1
      overflow hidden

    &._date
      margin-left 0
      text-align left

    &._delete
      padding-right 10px
      text-align right

    &._grow
      flex-grow 1

    &._name
      width 200px

    &._nopadding
      padding 10px 0

    &._pad
      padding-right 16px

    &._icon
      padding-right 16px
      width 66px

    &._price
      display flex
      flex-flow row wrap
      justify-content flex-end
      width 145px
      padding-right 30px
      text-align right

      &:last-child
        padding-right 0

      div
        flex 1 1 100%

    &._second
      color $color-second
      font-size .9rem

    &._static
      display block
      position relative

    &._question
      display flex
      justify-content flex-end
      flex-grow 1
      margin 0
      padding 0
      font-size 1.2rem
      color $color-expense

    &._yes
      cursor pointer
      padding-right 15px
      font-size 1.5rem
      &:hover
        color $color-link

    &._no
      cursor pointer
      font-size 1.5rem
      &:hover
        color $color-link

    &.link, &._link
      cursor pointer
      padding-right 0
      font-size 1.5rem
      opacity 0
      anim()

    a&:hover, &.link:hover, &._link:hover
      color $color-link
      border-bottom-color transparent

  // item__content
  // ===============================================
  &__content
    flex 1 1
    display flex

// Loader
// ===============================================
.item__question
  z-index 2
  opacity 0
  visibility hidden
  position absolute
  left 0
  top 1px
  width 100%
  height calc(100% - 1px)
  display flex
  align-items stretch
  justify-content flex-start
  padding 0
  background $color-trn-hover
  border-radius 3px
  anim()

  &._visible
    opacity 1
    visibility visible
