.itemStatLine
  position relative
  opacity .9
  cursor pointer
  padding 20px 0
  anim()
  margin-top -1px !important
  border-bottom 1px solid $color-trn-hover

  &._active
    opacity 1
    padding 0
    cursor default
    border-color transparent

  &:last-child
    margin-bottom 0
    border-bottom 0

  &:hover
    opacity 1
    padding 0px 0px
    border-color transparent

  &__in
    display flex
    align-items center
    padding 15px 0
    anim()

    ^[0]:hover &
      padding 35px 20px
      margin 0 -20px
      background $color-trn-hover

    ^[0]._active &
      margin 0 -20px
      padding 35px 20px
      border-color transparent
      background $color-itemStat-active !important

  &__icon
    padding-right 15px

  &__content
    display flex
    flex-flow column nowrap
    flex-grow 1

  &__name
    flex-grow 1
    padding-left 5px
    text-transform capitalize
    font-size 1.1rem
    white-space nowrap

  &__text
    @extend .itemStat__text
    margin-bottom 15px

  &__price
    min-width 115px
    max-width 125px
    padding-right 5px
    text-align right

  &__graph
    overflow hidden
    flex-grow 1
    background $color-graph
    border-radius 3px
    margin-bottom 5px
    if $theme == "light"
      margin-bottom 3px

    &:last-child
      margin-bottom 0

  &__graph__in
    height 1rem
    border-radius 0

    &._expense
      background $color-expense

    &._income
      background $color-income
