.items
  max-width 570px
  margin-bottom 60px

  &:last-child
    margin-bottom 0


.item
  position relative
  color $color-second
  border-radius 3px
  anim()

  &._selected
    border-top-color $color-body
    background alpha(white, .04) !important

  // item__edit
  // ===============================================
  &__edit
    background $color-body

  &__meta
    flex-grow 1
    display flex
    flex-flow column wrap
    justify-content center

    a
      padding 5px 0
      font-size .9rem
      letter-spacing 1px
      color $color-second

      &:hover
        color $color-link

  // item__el
  // ===============================================
  &__el
    display flex
    align-items center
    padding 10px 0
    flex-shrink 0
    color $color-second

    @media (min-width: 768px)
      padding 15px 0

    &:first-child
      margin-left 5px

      @media (min-width: 768px)
        margin-left 15px

    &._account
      width 130px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    &._action
      justify-content center
      width 40px
      cursor pointer
      padding 15px 0
      font-size 1.5rem
      anim()

      @media (min-width: 768px)
         width 45px
         opacity .2

      &:hover
        opacity 1
        color $color-main

    &._category
      flex 1 1
      overflow hidden

    &._date
      margin-left 0
      text-align left

    &._delete
      padding-right 10px
      text-align right

    &._grow
      flex-grow 1

    &._name
      width 200px

    &._nopadding
      padding 10px 0

    &._pad
      padding-right 16px

    &._icon
      padding-right 16px
      width 66px

    &._price
      display flex
      flex-flow row wrap
      justify-content flex-end
      width 110px
      padding-right 30px
      text-align right

      @media (min-width: 768px)
        width 145px

      &:last-child
        padding-right 0

      div
        flex 1 1 100%

    &._second
      color $color-second
      font-size .9rem

    &._question
      display flex
      justify-content flex-end
      flex-grow 1
      margin 0
      padding 18px 0
      font-size 1.2rem
      color $color-expense

    &._yes
      cursor pointer
      padding-right 15px
      font-size 1.5rem
      &:hover
        color $color-link

    &._no
      cursor pointer
      font-size 1.5rem
      &:hover
        color $color-link

    &.link, &._link
      cursor pointer
      padding-right 0
      font-size 1.5rem
      opacity 0
      anim()

    a&:hover, &.link:hover, &._link:hover
      color $color-link
      border-bottom-color transparent

  // item__content
  // ===============================================
  &__content
    flex 1 1
    display flex
    flex-flow row wrap

    @media (min-width: 768px)
      margin-right 10px

// Loader
// ===============================================
.item__question
  z-index 2
  opacity 0
  visibility hidden
  position absolute
  display flex
  align-items center
  justify-content flex-start
  left 0
  top 1px
  width 100%
  height calc(100% - 1px)
  padding 0 15px
  background $color-trn-hover
  anim()

  &._visible
    opacity 1
    visibility visible

  &__in
    display flex
    align-items center
    flex-grow 1
    height 67px
    padding 0 10px
