.itemGraph
  min-width 300px
  color $color-second
  border 1px solid transparent
  border-radius 3px
  anim()

  &._opened
    margin-bottom 15px
    background $color-trn-hover
    border-color $color-line

    &:last-child
      margin-bottom 0

  &._noCursor
    & ^[0]__in
      cursor default

    &:hover
      border-color transparent

  &:hover
    border-color $color-trn-hover-line

  &__in
    cursor pointer
    position relative
    display flex
    align-items center
    padding 10px

  &__content
    display flex
    flex-flow column nowrap
    flex-grow 1

  &__text
    z-index 2
    position absolute
    left 0
    top 0px
    width 100%
    height 100%
    display flex
    padding 0 20px
    align-items center

  &__name
    flex-grow 1
    color alpha(white, .8)
    font-size 1.1rem
    text-transform capitalize

  &__price
    padding-top 2px
    min-width 90px
    max-width 125px
    text-align right

    &.sum
      color alpha(white, .7)

  &__graph
    overflow hidden
    z-index 1
    position relative
    flex-grow 1
    background #242424
    border-radius 6px
    text-align right
    height 1.8rem

  &__graph__in
    position absolute
    left 0
    top 0
    height 100%
    border-radius 0

    &._expense
      background $color-expense

    &._income
      background $color-income

  &__trns
    padding 10px
