.itemStatTrn
  position relative
  display grid
  grid-template-columns minmax(90px, 100px) minmax(65px, 1fr) auto auto
  grid-column-gap 15px
  padding 0
  anim()
  border-top 1px solid alpha($color-line, .5)

  &._form
    grid-template-columns 40px minmax(100px, auto) minmax(65px, auto) 1fr auto auto

  &:hover
    background alpha($color-main, .05)

  &__item
    align-self center

    &._description
      padding 5px 0 10px
      font-size .8rem
      grid-column 2 / 5

    &._price
      text-align right
      padding-right 5px
      line-height 1.3rem

    &__date
      font-size .8rem
      padding-bottom 5px

    &__account
      font-size .9rem
      white-space nowrap

    &._action
      width 46px
      opacity .2
      cursor pointer
      padding 15px 10px
      font-size 1.5rem
      text-align center
      anim()

      &:hover
        opacity 1
        color $color-main
