// List Item
// ===============================================
.itemList
  cursor default
  overflow hidden
  position relative
  margin 0 -15px
  color $color-second
  font-size .9rem
  letter-spacing .5px
  $font-secondary()
  border 1px solid transparent
  border-top 1px solid transparent
  border-bottom 1px solid $color-itemList-border
  anim()

  &._editable
    background $color-layout
    border 1px solid $color-link !important
    border-left 10px solid $color-link !important

  &._link
    cursor pointer

  &._delete
    cursor default
    border-color $color-expense !important

  &._active
    & ^[0]__content
      cursor default
      opacity .7

  &._open
    background $color-itemList-bg
    border 1px solid $color-itemList-border !important

    &:hover
      border-color $color-link !important

  &:first-child
    border-top-color transparent

  &:last-child
    margin-bottom 0

  &__content
    display flex
    flex-flow row nowrap
    flex-grow 1
    align-items center
    padding 10px
    color $color-second
    anim()

    &:hover
      background $color-trn-hover

  &__icon
    padding-right 15px

    @media (min-width: 1200px)
      padding-right 20px

  &__name
    display flex
    align-items center
    flex-grow 1

    &__list
      display flex
      font-size 1rem
      margin-left 20px
      opacity .5

  &__text
    display flex
    padding-bottom 10px

  &__action
    display block
    text-align center
    width 40px
    font-size 1.2rem
    cursor pointer
    anim()

    @media (min-width: 768px)
      width 45px
      opacity .2

    a&
      color $color-second

    ^[0]__content:hover &
      opacity 1

    &:hover
      opacity 1
      color $color-link

    &:last-child
      margin-right 0

  &__currency
    margin-right 20px

  &__child
    padding 0 0 10px 10px
    border-top 1px solid $color-itemList-border
    cursor default

    @media (min-width: 768px)
      padding 0 0 0px 10px

// List Item Child
// ===============================================
.itemListChild
  position relative
  display block
  margin 0
  border none
  color $color-second
  border 1px solid transparent
  border-top 1px solid $color-line
  anim()

  &._editable
    background $color-layout
    border 1px solid $color-link !important
    border-left 10px solid $color-link !important

  &:first-child
    border-top-color transparent

  &._link
    cursor pointer

  &._delete
    cursor default
    border-color $color-expense !important

  &._active
    & ^[0]__content
      cursor default
      opacity .7

  &:last-child
    margin-bottom 0
    border-bottom-color transparent

  &__content
    @extend .itemList__content

  &__icon
    @extend .itemList__icon

  &__name
    @extend .itemList__name

  &__text
    @extend .itemList__text

  &__action
    @extend .itemList__action
    ^[0]__content:hover &
      opacity 1
      background red
