.itemStatGroup
  max-width 440px
  margin-bottom 80px

  &:last-child
    margin-bottom 0

.itemStat
  position relative
  display block
  margin-bottom 10px
  color $color-second
  background $color-itemStat
  border 1px solid $color-itemStat-border
  anim()

  @media (min-width: 768px)
    margin-bottom 30px

  @media (min-width: 1900px)
    max-width 490px

  &._opened
    background alpha($color-trn-hover, .5) !important
    border-color $color-line

    &:hover
      border-color alpha($color-rub, .8) !important

  &._link
    cursor pointer
    opacity .9

    &._active
      opacity 1
      cursor default
      background alpha($color-trn-hover, .5) !important
      border-color alpha($color-rub, .8) !important

    &:hover
      opacity 1
      border-color $color-trn-hover-line

  &._small
    margin-bottom 10px
    border-radius 0

    @media (min-width: 768px)
      margin-bottom 15px

  &._child
    margin-bottom 0 !important
    background alpha($color-trn-hover, .5) !important
    border-color $color-line

    &:hover
      background alpha($color-trn-hover, .5) !important
      border-color $color-line !important

  &:last-child
    margin-bottom 0

  &:hover
    background $color-trn-hover

  &__in
    display flex
    align-items center
    padding 10px

    @media (min-width: 768px)
      padding 20px

    ^[0]._small &
      @media (min-width: 768px)
        padding 15px

  &__icon
    padding-right 15px

    @media (min-width: 768px)
      padding-right 25px

  &__content
    display flex
    flex-flow column nowrap
    flex-grow 1

  &__name
    flex-grow 1
    text-transform capitalize
    font-size 1.1rem
    white-space nowrap

  &__text
    display flex
    flex-flow row wrap
    padding-bottom 6px
    
    @media (min-width: 768px)
      padding-bottom 15px
    
    &:last-child
      padding-bottom 0

  &__price
    min-width 70px
    max-width 125px
    padding-right 2px
    text-align right
    @media (min-width: 768px)
      min-width 105px


  &__graph
    flex-grow 1
    overflow hidden
    margin-bottom 10px
    border-radius 3px
    background $color-graph

    &:last-child
      margin-bottom 0

  &__graph__in
    min-height .8rem
    border-radius 0

    &__price
      padding 4px 8px
      white-space nowrap
      color $color-white
      $font-numbers()
      font-weight bold
      font-size 1rem

    &._expense
      background $color-expense

    &._income
      background $color-income

  &__trns
    cursor default
    padding 0 15px 10px
