*
  boxsizing-borderbox()

html
  height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // macOS
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 14px

  @media $laptop
    font-size 16px

.body
  margin 0
  $font-primary()
  color $color-main
  line-height 1
  letter-spacing 0
  background $color-body
  overflow-y scroll
  scrollbar()

  &._overflow
    overflow hidden

  @media $before768
    user-select none

  @media (min-width: 768px)
    overflow hidden
    height 100%

.app
  display flex
  flex-flow column wrap
  min-height 100%
  min-width 320px

  @media (min-width: 768px)
    flex-flow row nowrap

.main
  @media (min-width: 768px)
    overflow hidden
    flex-shrink 0
    overflow-y scroll
    position fixed
    width calc(100% - 290px)
    height calc(100% - 50px)
    left 290px
    top 50px
    scrollbar()
