$width-small = 300px
$width-medium = 360px
$width-extra = 460px

*
  boxsizing-borderbox()

html
  height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // macos
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 12px

  @media $laptop
    font-size 16px

.body
  margin 0
  $font-primary()
  color $color-main
  line-height 1
  letter-spacing .5px
  background $color-body

  &._overflow
    overflow hidden

  @media (min-width: 768px)
    overflow hidden
    height 100%

.app
  display flex
  flex-flow column wrap
  min-height 100%

  @media (min-width: 1300px)
    flex-flow row nowrap

.sidebar
  position fixed
  width 100%
  height 100%
  left 0
  top 0
  z-index 1
  flex-shrink 0
  background $color-sidebar
  overflow hidden
  overflow-y scroll
  scrollbar()
  anim()

  @media (min-width: 1300px)
    width $width-medium
    box-shadow 0 0 5px $color-sidebar

  @media (min-width: 1500px)
    width 380px

  @media (min-width: 1900px)
    width $width-extra

  &__wrap
    z-index 3
    min-height 100%

    @media (min-width: 1300px)
      width $width-medium
      overflow-y auto
      position fixed
      left 0
      height 100%
      scrollbar()

    @media (min-width: 1500px)
      width 380px

    @media (min-width: 1900px)
      width $width-extra

  &__in
    display flex
    flex-flow column nowrap
    justify-content space-between
    min-height 100%
    padding 30px 30px

    @media (min-width: 1500px)
      padding 0 50px
      padding-top 50px

    @media (min-width: 1900px)
      //

.main
  @media (min-width: 1300px)
    overflow hidden
    flex-shrink 0
    overflow-y scroll
    position fixed
    left 0rem
    top 0px
    width 100%
    height 100%
    scrollbar()
    anim()

    &._withLeftBar
      left $width-small
      width "calc(100% - %s)" % $width-small

      @media (min-width: 1300px)
        left $width-medium
        width "calc(100% - %s)" % $width-medium

      @media (min-width: 1500px)
        left 380px
        width calc(100% - 380px)

      @media (min-width: 1900px)
        left $width-extra
        width "calc(100% - %s)" % $width-extra
