*
  boxsizing-borderbox()
  &:focus
    // outline-style none
    // background alpha(white, .1)

html
  height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  // macos
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 12px

  @media $laptop
    font-size 16px

.body
  overflow hidden
  height 100%
  min-width 360px
  margin 0
  $font-primary()
  color $color-main
  line-height 1
  letter-spacing .5px
  background $color-body

  .app
    min-height 100%

    @media $laptop
      display flex

    .main
      position relative
      overflow hidden
      flex-shrink 0
      overflow-y scroll
      position fixed
      left 0rem
      top 90px
      width 100%
      height calc(100% - 90px)
      scrollbar()
      anim()
      &._withLeftBar
        left 19rem
        width calc(100% - 19rem)

    .content
      //

    .loading
      display flex
      align-items center
      justify-content center
      position fixed
      z-index 100
      left 0
      top 0
      width 100%
      height 100%
      color $color-main
      font-size 3rem
      // background $color-layout
      background alpha($color-layout, .9)

      &__in
        display block
        text-align center

      &__name
        padding-bottom 4rem
        &._error
          color red

      &__update
        cursor pointer
        display inline-flex
        border-bottom 1px solid $color-link
        anim()

        &:hover
          color $color-link
