.leftBar
  z-index 3
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background $color-sidebar
  border-right 1px solid black

  @media (min-width: 768px)
    top 50px
    width 290px
    height calc(100% - 50px)

  &__in
    height 100%

    @media (min-width: 768px)
      width 340px

  &__main
    overflow hidden
    overflow-y auto
    height calc(100vh - 140px)
    padding-top 20px
    padding-bottom 20px
    scrollbar()

    @media (min-width: 768px)
      height calc(100vh - 138px)

    &__close
      position absolute
      right 20px
      top 0px
      font-size 4rem
      transform rotate(45deg)

      @media (min-width: 768px)
        display none

    &__in
      padding 20px 15px
      padding-top 0

      @media (min-width: 768px)
        padding 40px 30px
        padding-top 0

  &__title
    display flex
    align-items center
    justify-content space-between
    padding 15px 30px
    padding-right 38px
    $typo-title()
    background $color-body
    cursor pointer

    &:hover
      color $color-main
      background $color-sidebar-bg-hover

  &__icons
    margin-bottom 50px

  &__categories
    overflow hidden
    overflow-y scroll
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background $color-sidebar
    scrollbar()

    &__in
      overflow-y scroll
      height 100%
      padding 30px 17px
      scrollbar()

      @media (min-width: 768px)
        padding 58px 60px

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom 30px
    padding-bottom 7px
    border-bottom 1px solid $color-line-account

    &__close
      margin-top -5px

  &__filter
    display flex
    margin-bottom 30px

  &__date
    display flex
    margin-bottom 30px
    justify-content space-between
    align-items center
    font-size 1rem

    &__value
      min-width 60px
      display flex
      align-items center
      justify-content center
      padding-left 15px
      text-transform uppercase
      font-size 1.6rem
      font-weight bold
      $font-numbers()
      @media (min-width: 768px)
        min-width 160px

      &__in
        padding-left 10px

    &__link
      margin-top -3px
      padding 10px 30px
      opacity .5
      border none
      color $color-main
      cursor pointer
      anim()

      ^[1]:hover &
        opacity 1
        background alpha(white, .3)
        border-radius 3px

  &__subTitle
    display flex
    align-items flex-end
    justify-content space-between
    padding 0 5px
    font-size .8rem
    font-weight bold
    letter-spacing 1px
    padding-bottom 15px
    text-transform uppercase

    .name
      font-size 1rem

  &__desc
    margin-top -20px
    height 70px

  &__actions__btn
    display block
    padding 20px 80px
    color $color-main
    font-size 1rem
    font-weight bold
    text-transform uppercase
    letter-spacing 2px
    text-align center
    background $color-line
    border 1px solid transparent
    border-radius 3px
    cursor pointer
    anim()

    @media (min-width: 1200px)
      display inline-flex

    &:hover
      color $color-link
      border-color $color-link
