.loading
  display flex
  align-items center
  justify-content center
  position fixed
  z-index 100
  left 0
  top 0
  width 100%
  height 100%
  color $color-main
  font-size 3rem
  background alpha($color-layout, .4)

  &__spin
    width 80px
    height 80px
    fill $color-main
    animation spin 3000ms ease-in-out infinite

@keyframes spin
  from {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
