.loginForm
  display flex
  width 100%
  min-height 100%
  align-items center
  justify-content center
  padding-top 100px

  @media (min-width: 768px)
      padding-top 0

  &__wrap
    display flex
    flex-flow column

  &__in
    padding 60px 30px
    text-align center
    border-radius 3px
    background $color-itemStat
    border 1px solid $color-itemStat-border

  &__name
    margin-bottom 40px
    font-size 3rem
    letter-spacing 6px
    font-weight bold

  &__error
    padding 10px
    margin-bottom 20px
    border 1px solid $color-expense

  &__action
    display block
    padding 15px 25px
    color $color-main
    font-size 1.2rem
    font-weight bold
    letter-spacing 2px
    text-align center
    background $color-itemStat
    border 1px solid $color-itemStat
    border-radius 3px
    cursor pointer
    anim()

    &:hover
      border-color $color-link
