.menu
  display flex
  flex-flow row wrap
  padding 10px 0px
  text-align center

  @media $laptop
    flex-flow row nowrap
    padding 16px 25px 14px
    padding-right 100px
    text-align left

.menuLink
  cursor pointer
  flex 1 1 100%
  display block
  padding 5px 25px
  color $color-main
  font-size .9rem
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  border-bottom none

  @media $laptop
    margin-right 30px
    padding 0

  &.active
    color $color-link
