.module
  &._alt
    background $color-layout
    border-bottom 2px solid $color-sidebar

  &._stat
    @media (min-width: 768px)
      min-height calc(100vh - 50px)

  &__in
    $max-width()
    padding 30px 10px

    @media (min-width: 768px)
      padding 60px
