.module
  padding 30px 20px
  border-top 2px solid $color-sidebar

  @media (min-width: 768px)
    padding 70px

  @media (min-width: 1500px)
    padding 80px

  &:last-child
    border-bottom none

  &._bg
    background $color-layout
    border-top 2px solid $color-sidebar

  &._minHeight
    min-height calc(100vh - 100px)


.module-in
  max-width 1080px
  margin 0 auto

  @media (min-width: 2000px)
    max-width 1400px
