$styles()
  font-size 1.2rem
  font-weight bold
  $font-numbers()
  white-space nowrap


.expenses
.expense
.item .expense
  $styles()
  color $color-expense

.incomes
.income
.item .income
  $styles()
  color $color-income

  white-space nowrap

.sum
  $styles()
  color $color-sum


h2.moneyTitle
  font-size 2.5rem
  font-weight normal
  letter-spacing 5px
  text-transform uppercase
  font-weight bold
  $font-numbers()
