$styles()
  font-size 1rem
  font-weight bold
  $font-numbers()
  white-space nowrap


.expenses
.expense
.item .expense
  $styles()
  color $color-expense

.incomes
.income
.item .income
  $styles()
  color $color-income
  white-space nowrap

.sum
  $styles()
  color $color-sum


.moneyTitle
  padding-bottom 16px
  font-size 1.3rem
  font-weight bold
  letter-spacing 3px
  line-height 1rem
  text-transform uppercase
  $font-numbers()

  &._incomes
    color $color-income

  &._expenses
    color $color-expense
