.sidebar
  &__title
    padding-bottom 15px
    font-size 1rem
    font-weight bold
    letter-spacing 2px
    text-transform uppercase

  &__item
    padding-bottom 50px

    @media (min-width: 768px)
      padding-bottom 60px

    @media (min-width: 1900px)
      padding-bottom 80px

    &:last-child
      padding-bottom 0px

  &__close
    position absolute
    right 20px
    top 15px
    font-size 4rem
    transform rotate(45deg)

    @media (min-width: 768px)
      display none

  // Menu
  // ===============================================
  &__menu
    &__link
      cursor pointer
      display flex
      align-items center
      height 30px
      color $color-second
      font-size .8rem
      font-weight bold
      text-transform uppercase
      letter-spacing 2px
      anim()

      @media (min-width: 768px)
        height 35px

      &.active
        font-weight bold
        font-size 1.1rem
        margin-left -2px
        color $color-rub !important

      &:last-child
        margin-bottom 0

      &:hover
        color $color-main

  // Accounts
  // ===============================================
  &__accounts
    margin 0 -10px

    &__showAll
      cursor pointer
      position relative
      display block
      width 100%
      padding 5px 10px
      font-size .8rem
      color alpha($color-second, .5)
      anim-all()

      @media (min-width: 768px)
        padding 15px 10px

      &:hover
        color $color-link

  &__account
    cursor pointer
    position relative
    display flex
    flex 1 1 45%
    flex-basis 100%
    height 35px
    margin-top -1px !important
    padding-left 10px
    padding-right 10px
    justify-content space-between
    align-items center
    color $color-second
    border-left 2px solid transparent
    border-bottom 1px solid $color-trn-hover
    anim()

    @media (min-width: 768px)
      height 55px

    @media (min-width: 1900px)
      height 60px

    &:last-child
      margin-bottom 0
      border-bottom none

    &:hover
      margin 0 -10px
      padding-left 20px
      padding-right 20px
      background $color-trn-hover

    &._active
      cursor default
      z-index 2
      margin 0 -10px
      padding-left 20px
      padding-right 20px
      background $color-trn-hover
      border-left-color $color-link

    &__value
      flex-flow row wrap
      $font-numbers()
      letter-spacing 1px
      color $color-sum
      font-weight bold
      text-align right

  // Summary
  // ===============================================
  &__summary
    margin 0 -10px

  &__summary__item
    position relative
    display flex
    height 35px
    margin-top -1px !important
    padding-left 10px
    padding-right 10px
    justify-content space-between
    align-items center
    color $color-second
    border-bottom 1px solid $color-trn-hover
    anim()

    @media (min-width: 768px)
      height 50px

    @media (min-width: 1900px)
      height 60px

    &:last-child
      margin-bottom 0
      border none

    &__value
      flex-flow row wrap
      $font-numbers()
      letter-spacing 1px
      color $color-sum
      font-weight bold
      text-align right

// Sidebar Toogle
// ===============================================
.sidebarToogle
  z-index 15
  position fixed
  width 10px
  height 100%
  left 0px
  top 0
  cursor pointer
  display flex
  align-items flex-start
  justify-content center
  right 0px
  color $color-second
  font-size 1.5rem
  anim()

  @media (min-width: 768px)
    width 40px

  &:active
    background $color-side-toogle

  @media (min-width: 768px)
    &:hover
      background $color-side-toogle
