.logo
  display block
  width 20px
  fill $color-second
  anim()

.sidebar
  position fixed
  width 100%
  height 100vh
  left 0
  top 0
  z-index 3
  flex-shrink 0
  background $color-sidebar
  overflow hidden
  overflow-y scroll
  scrollbar()
  anim()

  @media (min-width: 768px)
    width 280px
    box-shadow 0 0 5px $color-sidebar

  &__wrap
    z-index 3
    height 100vh

    @media (min-width: 768px)
      width 280px

  &__in
    display flex
    flex-flow column nowrap
    justify-content space-between
    min-height 100vh
    padding 0px 20px 20px 20px

    @media (min-width: 768px)
      padding 0 30px 20px 30px

  &__title
    padding-bottom 20px
    font-size 1rem
    font-weight bold
    letter-spacing 3px
    line-height 1rem
    text-transform uppercase
    $font-numbers()

  &__row
    display flex
    align-items center
    justify-content space-between
    margin 0px -10px 10px -10px
    padding-bottom 8px

  &__item
    padding-bottom 50px

    @media (min-width: 768px)
      padding-bottom 44px

    &:last-child
      margin-top auto
      padding-bottom 0px

    &._nav
      height 105px
      padding-top 5px
      padding-bottom 0

  &__close
    cursor pointer
    height 41px
    margin 0 -20px
    padding 0 20px
    margin-bottom 20px
    display flex
    align-items center
    justify-content space-between
    font-size 1rem
    background $color-body

    @media (min-width: 768px)
      height auto
      margin 0 -40px
      margin-bottom 20px
      padding 15px 40px
      background none

    &__name
      font-size 1rem
      font-weight bold
      letter-spacing 3px
      text-transform uppercase
      $font-numbers()

    &:active
    &:focus
    &:hover
      background $color-body

      @media (min-width: 768px)
        background $color-layout

    &__icon
      font-size 1rem
      transform rotate(45deg)

  // Menu
  // ===============================================
  &__menu
    &__link
      width 40px
      height 40px
      cursor pointer
      display flex
      align-items center
      justify-content center
      color $color-second
      font-size 1.5rem
      font-weight bold
      letter-spacing 3px
      text-transform uppercase
      $font-numbers()
      anim()

      @media (min-width: 768px)
        font-size 1.1rem

      &:hover
        background $color-body

      &.active
        color $color-white !important
        .logo
          fill $color-white

  // Accounts
  // ===============================================
  &__accounts
    margin 0 -30px

  &__account
    position relative
    display flex
    flex 1 1 45%
    flex-basis 100%
    height 45px
    margin-top -1px !important
    margin 0 25px
    padding 0 5px 0 0
    justify-content space-between
    align-items center
    color $color-second
    border-left 5px solid transparent
    border-bottom 1px solid $color-trn-hover
    anim()

    @media (min-width: 768px)
      height 45px

    &._dim
      opacity .4

    &:last-child
      margin-bottom 0
      border-bottom none

    &._link
      cursor pointer

      &:hover
      &._active
        opacity 1
        margin 0 0px
        padding-left 25px
        padding-right 30px
        background $color-trn-hover
        border-left-color $color-trn-hover

      &._active
        z-index 2
        background $color-trn-hover
        border-left-color $color-link

    &__label
      font-size .9rem
      letter-spacing .5px
      $font-secondary()

    &__value
      flex-flow row wrap
      text-align right
      font-size .9rem
      color alpha($color-sum, .8)


// Sidebar Toogle
// ===============================================
.sidebarToogle
  z-index 15
  position fixed
  width 10px
  height 100%
  left 0px
  top 0
  cursor pointer
  display flex
  align-items flex-start
  justify-content center
  right 0px
  color $color-second
  font-size 1.5rem
  anim()

  @media (min-width: 768px)
    width 30px

  &:active
    background $color-side-toogle

  @media (min-width: 768px)
    &:hover
      background $color-side-toogle
