.summaryShort
  color $color-second
  margin 0

  @media (min-width: 768px)
    margin 0

  &._itemStat
    margin-top -15px
    padding-left 44px

  &._pb
    padding-bottom 20px

    @media (min-width: 768px)
      padding-bottom 70px

  &._pbs
    padding-bottom 20px

    @media (min-width: 768px)
      padding-bottom 30px

  &__wrap
    margin $m

    &:first-child
      margin-top $mb

  &__empty
    margin-top 20px
    margin-bottom 10px
    padding-left 10px
    font-weight bold

  &:last-child
    //margin-bottom -10px

    @media (min-width:768px)
      //margin-bottom -15px

  &__line
    display flex
    align-items center
    justify-content space-between
    border-bottom 1px solid $color-line-summary

    & ^[0]__item
      border none

  &__flex
    display flex
    justify-content space-between

    @media $after768
      align-items center

    &__col
      text-align right

.summaryShort__item
  cursor default
  position relative
  display flex
  padding 12px 0
  align-items center
  border-bottom 1px solid $color-line-summary

  &._noPad
    padding 0

  &._Change
    border none
    color $color-grey

    & ^[0]__total
    & ^[0]__label
      font-size 14px

  &._link:hover
    margin 0 -10px
    padding 0 10px
    border-bottom-color $color-line-summary

  &:last-child
    margin 0
    border 0

  &._link
    cursor pointer

    &:active
      background alpha($color-line-summary, .5)

    @media (min-width: 768px)
      &:hover
        background alpha($color-line-summary, .5)

  &__icon
    width 35px
    margin-right 17px
    padding-left 3px
    text-align center
    font-size 1rem
    color $color-sidebar-white-lighter

    @media (min-width: 768px)
      margin-right 20px

    &._grey
      color $color-sidebar-white-lighter

    &._small
      font-size 14px
      color #777777
      width inherit
      margin-right 8px
      padding 0

  &__label
    flex-grow 1
    font-size .9rem
    letter-spacing 0px
    $font-primary()
    color $color-sidebar-white-lighter

  &__total
    text-align right

    &._grey
      font-size 14px
      color $color-sidebar-white-lighter
