.switch
  display flex
  flex-flow row wrap
  justify-content space-between

  @media $after768
    align-items flex-end

  @media $after768
    flex-flow row nowrap

  &:last-child
    padding-bottom 0

  &__item
    padding-bottom 20px

    @media $after768
      padding-bottom 30px

  a
    padding-bottom 5px
    white-space nowrap
    opacity .2
    cursor pointer
    display inline-flex
    color $color-second
    font-size 1.3rem
    font-weight bold
    letter-spacing 3px
    line-height 1rem
    text-transform uppercase
    border-bottom 1px solid transparent
    $font-numbers()

    &:hover
      opacity 1

    &._active
      opacity 1
      cursor default

    &._incomes
      color $color-income

      &._active
        border-color $color-income

    &._expenses
      color $color-expense

      &._active
        border-color $color-expense

    &._history
      color $color-main

      &._active
        border-color $color-main
