.tabs
  position relative
  z-index 2
  margin-top -5px
  padding 0 20px
  background $color-body
  border-bottom 2px solid $color-line

  @media $laptop
    padding 0 55px

  a
    cursor pointer
    display inline-flex
    margin-bottom -2px
    padding 20px 60px
    color $color-second
    font-size 1.4rem
    font-weight normal
    letter-spacing 3px
    text-transform uppercase
    $font-numbers()
    border 2px solid transparent
    anim()

    &:hover
      color $color-main

    &._active
      cursor default
      color $color-main
      font-weight bold
      background $color-layout
      border 2px solid $color-line
      border-bottom 2px solid $color-layout
