.tabs
  position relative
  padding 0 20px
  background $color-body
  margin-bottom 20px

  @media (min-width: 768px)
    margin-bottom 0
    padding 0 70px
    z-index 1
    margin-top -5px
    margin-bottom -1px
    border-bottom 1px solid $color-line

  &-in
    display flex
    flex-flow column wrap
    align-items center
    max-width 1080px
    margin 0 auto

    @media (min-width: 768px)
      flex-flow row wrap

    @media (min-width: 2000px)
      max-width 1400px

  a
    cursor pointer
    display flex
    justify-content center
    margin-bottom -2px
    padding 20px 40px
    color $color-second
    font-size 1.5rem
    font-weight normal
    letter-spacing 2px
    text-transform uppercase
    $font-numbers()
    anim()

    @media (min-width: 768px)
      display inline-flex
      min-width 240px
      border 1px solid transparent

    &:hover
      color $color-main

    &._active
      cursor default
      color $color-main
      font-weight bold
      letter-spacing 4px
      background $color-layout

      @media (min-width: 768px)
        border 1px solid $color-line
        border-bottom 1px solid $color-layout
