.topbar
  display flex
  flex-flow column wrap
  justify-content space-between
  align-items center
  background $color-layout
  border-bottom 2px solid $color-line-layout

  @media $laptop
    anim()
    z-index 3
    position fixed
    left $sidebar-width
    top 0
    left 0
    flex-flow row nowrap
    width 100%

    &._withLeftBar
      left 19rem
      width calc(100% - 19rem)

    &:after
      if $theme == "black"
        z-index 3
        content ""
        position absolute
        top 46px
        width 100%
        height 20px
        background linear-gradient(to bottom, $color-body 0%, transparent 100%)


  &__in
    overflow-x auto
    padding-left 35px
