.trnForm
  z-index 3
  position fixed
  right 0
  top 0
  width 100%
  height 100vh
  background $color-sidebar

  @media (min-width: 768px)
    width auto
    box-shadow 0 0 5px $color-sidebar

  &__in
    height 100vh

    @media (min-width: 768px)
      width 590px

  &__form
    overflow hidden
    overflow-y scroll
    height 100vh
    scrollbar()
    padding-bottom 100px

    &__close
      position absolute
      right 20px
      top 0px
      font-size 4rem
      transform rotate(45deg)

      @media (min-width: 768px)
        display none

    &__in
      padding 20px 17px

      @media (min-width: 768px)
        padding 60px 76px

  &__errors
    font-weight bold
    font-size 1.2rem
    color $color-expense
    margin-bottom 2rem

  &__icons
    margin-bottom 50px

  &__categories
    overflow hidden
    overflow-y scroll
    position absolute
    left 0
    top 0
    width 100%
    height 100vh
    padding-bottom 100px
    background $color-sidebar
    scrollbar()

    &__in
      overflow-y scroll
      height 100vh
      padding 30px 17px
      scrollbar()

      @media (min-width: 768px)
        padding 58px 60px

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom 30px
    padding-bottom 7px
    border-bottom 1px solid $color-line-account

    &__close
      margin-top -5px

  &__filter
    display flex
    margin-bottom 30px

  &__date
    display flex
    margin-bottom 30px
    justify-content space-between
    align-items center
    font-size 1rem

    &__value
      min-width 60px
      display flex
      align-items center
      justify-content center
      padding-left 15px
      text-transform uppercase
      font-size 1.6rem
      font-weight bold
      $font-numbers()
      @media (min-width: 768px)
        min-width 160px

      &__in
        padding-left 10px

    &__link
      margin-top -3px
      padding 15px 30px
      opacity .5
      border none
      color $color-main
      cursor pointer
      anim()

      @media (min-width: 768px)
        padding 15px 50px

      ^[1]:hover &
        opacity 1
        background alpha(white, .3)
        border-radius 3px

  &__subTitle
    display flex
    align-items flex-end
    justify-content space-between
    padding 0 5px
    font-size .8rem
    font-weight bold
    letter-spacing 1px
    padding-bottom 15px
    text-transform uppercase

    .name
      font-size 1rem

  &__desc
    height 70px

  &__actions__btn
    display block
    padding 20px 80px
    color $color-main
    font-size 1rem
    font-weight bold
    text-transform uppercase
    letter-spacing 2px
    text-align center
    background $color-line
    border 1px solid transparent
    border-radius 3px
    cursor pointer
    anim()

    @media (min-width: 1300px)
      display inline-flex

    &:hover
      color $color-link
      border-color $color-link

.trnFormToogle
  cursor pointer
  z-index 15
  position fixed
  width 20px
  height 100%
  right 0
  top 0
  display flex
  align-items flex-start
  justify-content center
  color $color-second
  anim()

  @media (min-width: 768px)
    width 40px
    height 100%
    right 6px

  &:active
    background $color-side-toogle

  @media (min-width: 768px)
    &:hover
      background $color-side-toogle

  &__icon
    display none
    align-items center
    justify-content center
    margin-right 20px
    margin-top -10px
    color $color-main
    font-size 4rem
    $font-numbers()
    border 2px solid transparent
    border-radius 50%
    anim()

    @media (min-width: 768px)
      display flex
      margin-right 46px
      margin-top 26px

    ^[0]:hover &
      color $color-link

    ^[0]._active &
      color $color-link
      transform rotate(45deg)
