.trnForm
  // z-index 3
  position fixed
  right 0
  top 0
  width 100%
  height 100%
  background $color-sidebar

  @media (min-width: 768px)
    width auto
    border-left 1px solid #000

  &__in
    height 100%

    @media (min-width: 768px)
      width 590px

  &__form
    overflow hidden
    overflow-y scroll
    height 100%
    scrollbar()

    &__close
      position absolute
      right 20px
      top 0px
      font-size 4rem
      transform rotate(45deg)

      @media (min-width: 768px)
        display none

    &__in
      padding 20px 17px
      padding-top 0

      @media (min-width: 768px)
        padding 60px 76px
        padding-top 0

  &__errors
    font-weight bold
    font-size 1.2rem
    color $color-expense
    margin-bottom 2rem

  &__icons
    margin-bottom $mb

    @media (min-width: 768px)
      margin-bottom 40px

  &__categories
    overflow hidden
    position absolute
    left 0
    top -49px
    width 100%
    height 100%
    background $color-sidebar

  &__header
    display flex
    align-items center
    justify-content space-between
    margin-bottom 30px
    padding-bottom 7px
    border-bottom 1px solid $color-line-account

    &__close
      margin-top -5px

  &__filter
    display flex
    margin-bottom 30px

  &__date
    display flex
    margin-top (- $ms)
    margin-bottom $ms
    justify-content space-between
    align-items center
    line-height 1.2rem

    @media (min-width: 768px)
      margin-bottom 10px

    &__value
      margin-top -3px
      min-width 60px
      display flex
      align-items center
      justify-content center
      font-weight bold
      text-transform uppercase
      color $color-sidebar-white-lighter
      color $colot-main
      $font-numbers()

      &__text
        font-size 1rem
        letter-spacing 1px

      &__icon
        display none
        padding-right 10px
        font-size 1rem

    &__link
      width 40px
      padding 10px 15px
      opacity .5
      border none
      color $color-main
      cursor pointer
      anim()

      &:hover
        opacity 1
        background alpha(white, .1)

  &__subTitle
    display flex
    align-items center
    justify-content space-between
    margin-bottom 10px
    padding-bottom 9px
    border-bottom 1px solid #2e2e2e
    $typo-item-name()

    .name
      padding-left 15px

      @media $after768
        padding-left 10px

    .label
      text-align right
      color $color-grey
      font-weight bold
      text-transform uppercase
      font-size .7rem
      letter-spacing .5px
      letter-spacing 1px

  &__subTitle__flex
    display flex
    align-items center
    flex-grow 1

  &__desc
    margin-top -10px
    height 50px
    @media (min-width: 768px)
      height 60px

  &__actions__btn
    overflow hidden
    position relative
    display flex
    min-width 150px
    justify-content center
    padding 15px 30px
    color $color-main
    font-size .9rem
    letter-spacing 1px
    text-transform uppercase
    font-weight bold
    $font-numbers()
    background $color-btn-bg
    border 1px solid transparent
    border-radius 3px
    cursor pointer
    anim()

    &:hover
      //border-color $color-btn-border
      background #474747

    &._disable
      cursor default
      opacity .8
      color alpha($color-main, .8)
      background $color-line
      border 1px solid transparent

  &__actions__btn__loading
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    background $color-line

  &__wallet
    &-total
      margin-left auto
      $typo-money()

// trnFormToogle
.trnFormToogle
  cursor pointer
  z-index 15
  position fixed
  width 10px
  height 100%
  right 0
  top 0
  display flex
  align-items flex-start
  justify-content center
  color $color-second
  anim()

  @media (min-width: 768px)
    width 30px
    height 100%
    right 0px

  &:active
    background $color-side-toogle

  @media (min-width: 768px)
    &:hover
      background $color-side-toogle

  &__icon
    display none
    align-items center
    justify-content center
    margin-right 20px
    margin-top -10px
    color $color-main
    font-size 4rem
    $font-numbers()
    border 2px solid transparent
    border-radius 50%
    anim()

    @media (min-width: 768px)
      margin-right 46px
      margin-top 26px

    ^[0]:hover &
      color $color-link

    ^[0]._active &
      color $color-link
      transform rotate(45deg)
