.trnsList
  max-width 400px

  &__title
    padding 0 10px
    padding-bottom 4px
    font-size 1rem
    font-weight bold
    letter-spacing 3px
    line-height 1rem
    text-transform uppercase
    $font-numbers()
    border-bottom 1px solid $color-line-account

  &__item
    margin 0 -9px
    padding-bottom 30px

    &:last-child
      padding-bottom 0
