.trnsList
  max-width 400px

  &__title
    padding-bottom 8px
    font-size 1rem
    font-weight bold
    letter-spacing 3px
    line-height 1rem
    text-transform uppercase
    $font-numbers()
    border-bottom 1px solid $color-trnList-border

  &__item
    padding-bottom 30px

    &:last-child
      padding-bottom 0
