h1, h2, h3, h4, h5, h6
  margin 0
  margin-bottom 20px
  color $color-header
  font-size 1.2rem
  $font-secondary()
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

.title
  display flex
  margin-bottom 30px
  align-items center

  @media (min-width: 768px)
    margin-bottom 60px

  @media $laptop
    margin-bottom 85px

  h1&
    font-size 1.5rem
    letter-spacing 2px
    $font-numbers()

    @media $laptop
      font-size 3rem
      letter-spacing 6px
      margin-left -5px

  h2&
    margin-bottom 60px
    font-size 1.6rem
    letter-spacing 2px

  &:last-child
    margin-bottom 0

.numberTitle
  margin-bottom 50px
  color $color-second
  font-size 1.5rem
  font-weight bold
  letter-spacing 3px
  line-height 1rem
  text-transform uppercase
  $font-numbers()


// Lists
// ==============================================
ul
ol
  margin 0 0 30px 0
  padding 0
  &:last-child
    margin-bottom 0

li
  margin 0 0 10px 15px
  padding 0
  &:last-child
    margin-bottom 0


// Text
// ==============================================
p
  margin 0
  margin-bottom 20px
