a
  color $color-main

  &:hover
    color $color-link

.link
  padding-bottom 1px
  border-bottom 1px solid transparent
  &:hover
    border-bottom-color $color-link

h1, h2, h3, h4, h5, h6
  margin 0
  margin-bottom 20px
  color $color-header
  font-size 1.2rem
  $font-secondary()
  font-weight bold
  letter-spacing 2px
  text-transform uppercase

.title
  margin 0
  padding 15px 0

.numberTitle
  margin-bottom 50px
  color $color-second
  $font-numbers()
  font-size 1.5rem
  font-weight bold
  letter-spacing 3px
  line-height 1rem
  text-transform uppercase


// Lists
// ==============================================
ul
ol
  margin 0 0 30px 0
  padding 0
  &:last-child
    margin-bottom 0

li
  margin 0 0 10px 15px
  padding 0
  &:last-child
    margin-bottom 0


// Text
// ==============================================
p
  margin 0
  margin-bottom 20px
