.viewStat
  display flex
  flex-flow column wrap
  min-height 485px

  @media (min-width: 1300px)
    display flex
    flex-flow row nowrap
    justify-content space-between
    min-height 485px

  @media (min-width: 1600px)
    max-width 1060px
    margin 0 auto

  &__item
    &._stat
      @media (min-width: 1300px)
        flex 0 1 50%
        padding-left 40px
