.loading
  z-index 100
  position fixed
  display flex
  align-items center
  justify-content center
  flex-flow column wrap
  left 0
  top 0
  width 100%
  height 100%
  color $color-main
  font-size 3rem
  background alpha($color-layout, .4)

  &__logo
    width 80px
    height 80px
    fill $color-main

    &._spin
      animation spin 3000ms ease-in-out infinite

  &__name
    margin 0
    margin-top $msb
    color $color-main
    font-size 3rem
    letter-spacing 1px

@keyframes spin
  from {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
