$transition-style = cubic-bezier(.17, .04, .03, 1)

.fadeIn
  &-enter-active
  &-leave-active
    opacity 1
    transition all 150ms ease-out

  &-enter
  &-leave-to
    opacity 0
    transition all 150ms ease-out

.fadeInSlow
  &-enter-active
  &-leave-active
    opacity 1
    transform translate(0, 0)
    transition opacity 900ms ease-out, transform 600ms ease-out

  &-enter
  &-leave-to
    opacity 0
    transform translate(0, 10px)

.slide
  &-enter-active
    opacity 1
    anim()

    @media $media-phone
      transform translate(0, 0)
      transition opacity 100ms ease-out, transform 150ms $transition-style

    @media $media-laptop
      transform translate(0, 0)

  &-enter
    opacity 0
    transition opacity 100ms ease-out, transform 150ms $transition-style

    @media $media-phone
      transform translate(0, 10px)

    @media $media-laptop
      transform translate(10px, 0)

  &-leave-active
  &-leave-to
    opacity 0
    transition opacity 100ms ease-out, transform 150ms $transition-style

.slide2
  &-enter-active
  &-leave-active
    opacity 1
    transform translate(0, 0)
    transition opacity 100ms ease-out, transform 150ms $transition-style

  &-enter
  &-leave-to
    opacity 0
    transform translate(0, 5px)
    transition opacity 100ms ease-out, transform 150ms ease-out

// Tabs
.animation-tab
  &-enter-active
  &-leave-active
    transform translate(0, 0)
    transition opacity 150ms ease-in, transform 200ms ease-out

  &-enter
    transform translate(0, 5px)

  &-leave-to
  &-leave-active
    visibility hidden
    transform translate(0, 0)

.hey
  &-enter-active
  &-leave-active
    opacity 1
    transition opacity 200ms ease

  &-enter
  &-leave-to
    opacity 0
