.walletsList
  margin-bottom 0

  &__title
    padding $m9 $m7
    padding-top 0
    typo-money()
    font-size 20px
    letter-spacing 1.4px
    color var(--c-font-4)

    @media $media-laptop
     padding $m5 40px
     padding-top 0
     margin-left -40px
     margin-right -40px
     font-size 20px
     letter-spacing 2px

  &__toogle
    cursor pointer
    margin-top -1px
    margin-right $m7
    margin-left $m7
    padding $m7 0
    color var(--c-font-4)
    font-size 12px
    anim()

    +media-hover()
      color var(--c-blue-1)

.walletsTiles
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-column-gap $m6
  grid-row-gap $m6
  padding 0 $m7

.walletsLine
  overflow hidden
  display flex
  overflow-x auto
  padding 0 $m7
  scrollbar()
