anim()
  transition $transition-time $transition-style

anim-all()
  transition all $transition-time $transition-style

anim-color()
  transition color $transition-time $transition-style

anim-opacity()
  transition opacity $transition-time $transition-style

anim-border()
  transition border $transition-time $transition-style

anim-none()
  transition none
