@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@import './theme.css';
@import './utility.css';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @slot;
    }
  }

  &:active {
    @slot;
  }
}

@layer base {
  html,
  body {
    @apply antialiased text-default bg-default select-none overflow-hidden;
    overscroll-behavior-y: none;
  }
}
