@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);
  }
}

@layer base {
  html,
  body {
    @apply bg-foreground-1 font-primary text-1 leading-none antialiased select-none;
    overscroll-behavior-y: none;
  }
}

@layer components {
  .layoutBase {
    @apply overflow-hidden relative h-dvh bg-foreground-2;
  }

  .pageWrapper {
    @apply max-w-xl grow px-2 lg:px-4 2xl:px-8;
  }

  .bottomSheetDrugClassesCustom {
    @apply bg-foreground-1 max-w-md rounded-xl;
  }

  .bottomSheetContent {
    @apply grid h-full max-h-[98dvh] grid-rows-[auto,1fr,auto] overflow-hidden;
    padding-bottom: calc(env(safe-area-inset-bottom) - 22px);
  }

  .bottomSheetContentInside {
    @apply grid h-full bg-foreground-1 gap-1 overflow-hidden overflow-y-auto px-2 py-px;
  }

  .bottomSheetContentBottom {
    @apply flex items-center justify-center p-2;
  }

  /* Scrollbar styles */
  .scrollbar {
    @apply h-full overflow-hidden overflow-y-auto;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-[10px];
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-[10px];
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}
