.headerLink
  display inline-flex
  align-items center
  justify-content center
  padding $m7 $m8
  font-header-1()
  color var(--c-font-4)

  &:hover
    @media $media-laptop
      background var(--c-bg-6)

  &._disable
    opacity .3

    &:hover
      @media $media-laptop
        background none

  &._active
    color var(--c-font-2)

  &._bigger
    font-size 18px
