- var fonts = "Unica+One|Robotto:300,400,500,700"

mixin link(href)
  link(href=href rel="stylesheet")

mixin styles
  +link("https://fonts.googleapis.com/css?family=" + fonts)
  +link("https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css")
  +link("/css/styles.css?v=642")
