- var fonts = "Open+Sans:400,700|Roboto:400,700|Unica+One&amp;subset=cyrillic"

mixin link(href)
  link(href=href rel="stylesheet")

mixin styles
  +link("https://fonts.googleapis.com/css?family=" + fonts)
  +link("https://cdn.materialdesignicons.com/2.6.95/css/materialdesignicons.min.css")
  +link("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.0/css/swiper.min.css")
